Repository MarcoFratta/AuctiOn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs, prettier -w

refactor(lobby-service): always send ok when the user is in an active lobby
  packages/lobby-service/__tests__/LobbyController.test.ts
  packages/lobby-service/src/controllers/LobbyController.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(frontend): add leaderboard in lobby store
  packages/frontend/src/stores/lobbyStore.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix(frontend): display correct error messages
  packages/frontend/src/views/lobby/JoinLobby.vue
  packages/frontend/src/views/lobby/JoinView.vue
Due: none

feat(frontend): add lobby router guards
  packages/frontend/src/api/lobbyService.ts
  packages/frontend/src/router/index.ts
  packages/frontend/src/router/routes/lobby.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(frontend): add logout, forgot and reset password
  packages/frontend/src/api/authService.ts
  packages/frontend/src/composables/useAuth.ts
  packages/frontend/src/views/auth/ForgotPasswordView.vue
  packages/frontend/src/views/auth/LoginView.vue
  packages/frontend/src/views/auth/RegisterView.vue
  packages/frontend/src/views/auth/ResetPasswordView.vue
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(frontend): add leaderboard page
  packages/frontend/src/components/inventory/InventoryDisplay.vue
  packages/frontend/src/components/leaderboard/LeaderboardDisplay.vue
  packages/frontend/src/components/leaderboard/LeaderboardEntry.vue
  packages/frontend/src/components/leaderboard/RemovedPlayerEntry.vue
  packages/frontend/src/components/user/UserAvatar.vue
  packages/frontend/src/router/routes/game.ts
  packages/frontend/src/views/AuctionEndView.vue
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(frontend): add forgot and reset password routes
  packages/frontend/src/router/routes/auth.ts
  packages/frontend/src/schemas/authSchema.ts
  packages/frontend/src/stores/authStore.ts
  packages/frontend/src/views/auth/LoginView.vue
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

refactor(frontend): avoid registering multiple times the same listeners on socket
  packages/frontend/src/composables/useAuctionConnection.ts
  packages/frontend/src/composables/useAuctionNotifications.ts
  packages/frontend/src/composables/useLobbyMsgHandler.ts
  packages/frontend/src/stores/socketStore.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(frontend): allow other components to show elements on the app header
  packages/frontend/src/App.vue
  packages/frontend/src/components/AppHeader.vue
  packages/frontend/src/components/NavigationDrawer.vue
Due: none

feat(frontend): redirect to lobby if the user has joined one
  packages/frontend/src/composables/useLobbyService.ts
  packages/frontend/src/views/HomeView.vue
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(frontend): add warning and error notifications
  packages/frontend/src/composables/useNotifications.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

refactor(frontend): avoid showing ready button if the user is the admin of the lobby
  packages/frontend/src/views/lobby/LobbyView.vue
Due: none

fix(frontend): bug fix
  packages/frontend/src/views/lobby/CreateLobbyView.vue
Due: none

refactor(frontend): change play view appearance
  packages/frontend/src/components/InventorySelector.vue
  packages/frontend/src/components/auction/AuctionRules.vue
  packages/frontend/src/components/auction/CurrentBidCard.vue
  packages/frontend/src/components/auction/CurrentSaleInfo.vue
  packages/frontend/src/components/auction/InventoryItem.vue
  packages/frontend/src/components/auction/NewSaleInfo.vue
  packages/frontend/src/components/auction/PlayerInventory.vue
  packages/frontend/src/components/auction/SaleCard.vue
  packages/frontend/src/components/auction/SellerQueue.vue
  packages/frontend/src/components/lobby/LobbyConfigs.vue
  packages/frontend/src/components/lobby/LobbyPlayers.vue
  packages/frontend/src/views/auction/PlayView.vue
Due: none

refactor(frontend): show auction info the in app header
  packages/frontend/src/components/auction/GameHeader.vue
Due: none

refactor(auth-service): allow auth-service to reach email server
  docker-compose.yml
Due: none

fix(auth-service): fix tests errors
  packages/auth-service/__tests__/AuthRoutes.test.ts
  packages/auth-service/__tests__/AuthService.test.ts
  packages/auth-service/src/services/AuthServiceImpl.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

refactor(frontend): change toast notifications style
  packages/frontend/src/main.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(frontend): add app footer
  packages/frontend/src/App.vue
  packages/frontend/src/components/AppFooter.vue
Due: none

feat(frontend): add game rules page
  packages/frontend/src/router/routes/game.ts
  packages/frontend/src/views/rules/GameRulesView.vue
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(frontend): add account settings page
  packages/frontend/src/router/routes/user.ts
  packages/frontend/src/stores/settingsStore.ts
  packages/frontend/src/views/account/AccountSettingsView.vue
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(frontend): add not found page
  packages/frontend/src/views/NotFoundView.vue
Due: none

feat(frontend): add new pages to app drawer and router
  packages/frontend/src/components/NavigationDrawer.vue
  packages/frontend/src/router/index.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix(frontend): load page only if the lobby is not undefined
  packages/frontend/src/views/lobby/LobbyView.vue
Due: none

refactor(frontend): better code
  packages/frontend/src/composables/useAuth.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore(frontend): add InspiraUI needed dependency and downgrade to tailwind 3
  package-lock.json
  package.json
  packages/frontend/components.json
  packages/frontend/package.json
  packages/frontend/postcss.config.js
  packages/frontend/src/assets/main.css
  packages/frontend/src/lib/utils.ts
  packages/frontend/tailwind.config.js
  packages/frontend/tsconfig.app.json
  packages/frontend/tsconfig.json
  packages/frontend/vite.config.mts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs, prettier -w

feat(frontend): add library components
  packages/frontend/src/components/Background.vue
  packages/frontend/src/components/ui/blur-reveal/BlurReveal.vue
  packages/frontend/src/components/ui/blur-reveal/index.ts
  packages/frontend/src/components/ui/gradient-button/GradientButton.vue
  packages/frontend/src/components/ui/gradient-button/index.ts
  packages/frontend/src/components/ui/input/IInput.vue
  packages/frontend/src/components/ui/input/index.ts
  packages/frontend/src/components/ui/ripple-button/RippleButton.vue
  packages/frontend/src/components/ui/ripple-button/index.ts
  packages/frontend/src/components/ui/vortex/Vortex.vue
  packages/frontend/src/components/ui/vortex/index.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(frontend): restyle homepage
  packages/frontend/src/App.vue
  packages/frontend/src/components/AppHeader.vue
  packages/frontend/src/components/NavigationDrawer.vue
  packages/frontend/src/views/HomeView.vue
Due: none

feat(frontend): restyle register page
  packages/frontend/src/components/FormEntry.vue
  packages/frontend/src/components/LoadingButton.vue
  packages/frontend/src/views/auth/RegisterView.vue
Due: none

feat(frontend): restyle login page
  packages/frontend/src/views/auth/LoginView.vue
Due: none

refactor(frontend): change auth pages buttons
  packages/frontend/src/components/LoadingButton.vue
  packages/frontend/src/views/auth/ForgotPasswordView.vue
  packages/frontend/src/views/auth/LoginView.vue
  packages/frontend/src/views/auth/ResetPasswordView.vue
Due: none

refactor(frontend): refactor AccountSettingsView.vue
  packages/frontend/src/components/settings/AppearanceSection.vue
  packages/frontend/src/components/settings/NotificationsSection.vue
  packages/frontend/src/components/settings/ProfileSection.vue
  packages/frontend/src/components/settings/StatisticsSection.vue
  packages/frontend/src/components/ui/RadioSelector.vue
  packages/frontend/src/components/ui/TabPanel.vue
  packages/frontend/src/components/ui/TabView.vue
  packages/frontend/src/components/ui/ToggleSwitch.vue
  packages/frontend/src/views/account/AccountSettingsView.vue
Due: none

fix(frontend): avoid background content to be bigger than the needed size
  packages/frontend/src/components/Background.vue
  packages/frontend/src/components/FullScreen.vue
  packages/frontend/src/components/ui/vortex/Vortex.vue
Due: none

feat(frontend): add title component
  packages/frontend/src/components/Title.vue
Due: none

feat(frontend): add cards components
  packages/frontend/src/components/BaseCard.vue
  packages/frontend/src/components/InnerCard.vue
Due: none

refactor(frontend): refactor app header
  packages/frontend/src/App.vue
  packages/frontend/src/components/AppHeader.vue
Due: none

refactor(frontend): refactor game rules page
  packages/frontend/src/components/rules/StrategyTip.vue
  packages/frontend/src/views/rules/GameRulesView.vue
Due: none

fix(frontend): removed lobby middleware
  packages/frontend/src/router/index.ts
  packages/frontend/src/router/routes/game.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(frontend): enable dark mode
  packages/frontend/tailwind.config.js
Due: prettier -w

refactor(frontend): refactor auth pages
  packages/frontend/src/components/LoadingButton.vue
  packages/frontend/src/views/auth/ForgotPasswordView.vue
  packages/frontend/src/views/auth/LoginView.vue
  packages/frontend/src/views/auth/RegisterView.vue
  packages/frontend/src/views/auth/ResetPasswordView.vue
Due: none

Path conditions:
  prettier --w: any of: **/*.{ts,tsx}
  eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs: any of: **/*.{ts,tsx}
  prettier -w: any of: **/*.{html,js,json,css,scss,md,mdx}
