Repository MarcoFratta/AuctiOn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs, prettier -w

feat(frontend): add sale card component
  packages/frontend/src/components/auction/SaleCard.vue
Due: none

feat(frontend): add new sale info component
  packages/frontend/src/components/auction/NewSaleInfo.vue
Due: none

feat(frontend): add currentSale info component
  packages/frontend/src/components/auction/CurrentSaleInfo.vue
Due: none

feat(frontend): add currentBid component
  packages/frontend/src/components/auction/CurrentBidCard.vue
Due: none

feat(frontend): add auction rules component
  packages/frontend/src/components/auction/AuctionRules.vue
Due: none

feat(frontend): add player inventory component
  packages/frontend/src/components/auction/PlayerInventory.vue
Due: none

feat(frontend): add shapes utility file
  packages/frontend/src/icons/shapes.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(frontend): add auction service composable
  packages/frontend/src/composables/useAuctionService.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(frontend): add lobby msg handler composable
  packages/frontend/src/composables/useLobbyMsgHandler.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(frontend): add start match function
  packages/frontend/src/composables/useLobbyService.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix(frontend): correctly save user after auth
  packages/frontend/src/composables/useAuth.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore(frontend): add vueuse dependency
  package-lock.json
  packages/frontend/package.json
Due: prettier -w

refactor(frontend): use lobby msg handler
  packages/frontend/src/views/LobbyView.vue
Due: none

refactor(frontend): change components css
  packages/frontend/src/components/InventorySelector.vue
  packages/frontend/src/components/lobby/LobbyPlayers.vue
Due: none

feat(frontend): add page for the real time auction
  packages/frontend/src/api/Errors.ts
  packages/frontend/src/api/lobbyService.ts
  packages/frontend/src/views/PlayView.vue
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(frontend): add player info state
  packages/frontend/src/stores/lobbyStore.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(frontend): remove unused fontawesome icon
  packages/frontend/src/main.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix(frontend): avoid refreshing
  packages/frontend/src/App.vue
Due: none

feat(frontend): add lobby and play routes
  packages/frontend/src/router/index.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(frontend): add login with link page, and singIn,singUp redirect after auth
  packages/frontend/src/router/index.ts
  packages/frontend/src/views/auth/LoginView.vue
  packages/frontend/src/views/auth/RegisterView.vue
  packages/frontend/src/views/lobby/JoinLobby.vue
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

refactor(frontend): better error handling
  packages/frontend/src/api/apiClient.ts
  packages/frontend/src/api/authService.ts
  packages/frontend/src/composables/useAuth.ts
  packages/frontend/src/composables/useErrorsHandler.ts
  packages/frontend/src/composables/useLobbyService.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(frontend): save seller info
  packages/frontend/src/composables/useLobbyMsgHandler.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

refactor(frontend): create inventory item component
  packages/frontend/src/components/auction/AuctionRules.vue
  packages/frontend/src/components/auction/InventoryItem.vue
  packages/frontend/src/components/auction/PlayerInventory.vue
  packages/frontend/src/icons/shapes.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

refactor(frontend): file structure reorganized
  packages/frontend/src/views/auction/PlayView.vue
  packages/frontend/src/views/lobby/CreateLobbyView.vue
  packages/frontend/src/views/lobby/JoinView.vue
  packages/frontend/src/views/lobby/LobbyView.vue
Due: none

fix(common): send all seller info on new-sale msg
  packages/common/src/messages/AuctionMessages.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix(auction-service): send all seller info on new-sale msg
  packages/auction-service/src/domain/messages/MessageFactory.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore(frontend): add toastify dependency
  package-lock.json
  packages/frontend/package.json
  packages/frontend/src/main.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs, prettier -w

refactor(frontend): make layout responsive
  packages/frontend/src/components/auction/CurrentSaleInfo.vue
  packages/frontend/src/components/auction/SaleCard.vue
  packages/frontend/src/components/auction/SellerQueue.vue
Due: none

fix(lobby-service): fix duplicate error handling
  packages/lobby-service/__tests__/ControllerErrors.test.ts
  packages/lobby-service/__tests__/LobbyController.test.ts
  packages/lobby-service/__tests__/LobbyServiceErrors.test.ts
  packages/lobby-service/src/errors/LobbyErrors.ts
  packages/lobby-service/src/middlewares/ErrorsMiddleware.ts
  packages/lobby-service/src/services/LobbyServiceImpl.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix(frontend): fix minor bugs in login/register pages
  packages/frontend/src/views/auth/LoginView.vue
  packages/frontend/src/views/auth/RegisterView.vue
Due: none

refactor(frontend): general appearance refactor + add menu drawer
  packages/frontend/src/App.vue
  packages/frontend/src/components/FormEntry.vue
  packages/frontend/src/components/InventorySelector.vue
  packages/frontend/src/components/NavigationDrawer.vue
  packages/frontend/src/views/HomeView.vue
  packages/frontend/src/views/lobby/CreateLobbyView.vue
  packages/frontend/src/views/lobby/JoinView.vue
Due: none

feat(frontend): add routes guards for auth and active lobby
  packages/frontend/src/components/NavigationDrawer.vue
  packages/frontend/src/composables/useAuth.ts
  packages/frontend/src/router/index.ts
  packages/frontend/src/router/routes/auth.ts
  packages/frontend/src/router/routes/game.ts
  packages/frontend/src/router/routes/lobby.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(frontend): add lobby notifications
  packages/frontend/src/composables/auctionNotification.ts
  packages/frontend/src/composables/useNotifications.ts
  packages/frontend/src/main.ts
  packages/frontend/src/views/lobby/LobbyView.vue
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

refactor(frontend): change lobby page appearance
  packages/frontend/src/components/CopyCard.vue
  packages/frontend/src/components/InventorySelector.vue
  packages/frontend/src/components/TagCard.vue
  packages/frontend/src/components/lobby/LobbyConfigs.vue
  packages/frontend/src/components/lobby/LobbyPlayers.vue
  packages/frontend/src/components/lobby/ShareCard.vue
Due: none

refactor(frontend): allow to add more listeners to socket events
  packages/frontend/src/composables/useLobbyMsgHandler.ts
  packages/frontend/src/stores/socketStore.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(common): add old flag
  packages/common/src/messages/AuctionMessages.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(auth-service): add the old flag to auction messages
  packages/auction-service/src/controllers/AuctionController.ts
  packages/auction-service/src/domain/messages/MessageFactory.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(frontend): try to refresh the token on page refresh
  packages/frontend/src/App.vue
Due: none

refactor(auth-service): change emails template
  packages/auth-service/src/App.ts
  packages/auth-service/src/configs/emailConfig.ts
  packages/auth-service/src/services/MailClientImpl.ts
  packages/auth-service/src/templates/EmailTemplates.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(auth-service): add logout route and blacklisting
  packages/auth-service/src/controllers/AuthController.ts
  packages/auth-service/src/repositories/RedisTokenRepo.ts
  packages/auth-service/src/repositories/TokensRepo.ts
  packages/auth-service/src/routes/Routes.ts
  packages/auth-service/src/services/AuthService.ts
  packages/auth-service/src/services/AuthServiceImpl.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

Path conditions:
  prettier --w: any of: **/*.{ts,tsx}
  eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs: any of: **/*.{ts,tsx}
  prettier -w: any of: **/*.{html,js,json,css,scss,md,mdx}
