Repository MarcoFratta/AuctiOn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs, prettier -w

.lintstagedrc:

{
  "**/*.{ts,tsx}": [
  "prettier --w",
  "eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs"],
  "**/*.{html,js,json,css,scss,md,mdx}": ["prettier -w"]
}

refactor(common): add events and messages to common package
  packages/auction-service/src/domain/events/EventsFactory.ts
  packages/auction-service/src/domain/messages/MessageFactory.ts
  packages/common/package.json
  packages/common/src/events/Auction.ts
  packages/common/src/events/AuctionEvents.ts
  packages/common/src/events/LobbyEvents.ts
  packages/common/src/messages/AuctionMessages.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs, prettier -w

refactor(auction-service): use common package events and messages schemas
  packages/auction-service/__tests__/AuctionController.test.ts
  packages/auction-service/__tests__/AuctionService.test.ts
  packages/auction-service/__tests__/Integration.test.ts
  packages/auction-service/__tests__/KafkaConsumer.test.ts
  packages/auction-service/__tests__/Leaderboard.test.ts
  packages/auction-service/src/App.ts
  packages/auction-service/src/controllers/AuctionController.ts
  packages/auction-service/src/controllers/KafkaConsumer.ts
  packages/auction-service/src/controllers/KafkaProducer.ts
  packages/auction-service/src/controllers/TimerController.ts
  packages/auction-service/src/converters/AuctionConverter.ts
  packages/auction-service/src/converters/EventConverter.ts
  packages/auction-service/src/domain/auctions/Modifier.ts
  packages/auction-service/src/domain/auctions/WinStrategyFactory.ts
  packages/auction-service/src/schemas/Auction.ts
  packages/auction-service/src/schemas/AuctionEvents.ts
  packages/auction-service/src/schemas/AuctionMessages.ts
  packages/auction-service/src/schemas/Leaderboard.ts
  packages/auction-service/src/services/AuctionEventsSource.ts
  packages/auction-service/src/services/AuctionService.ts
  packages/auction-service/src/services/AuctionServiceImpl.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

refactor(lobby-service): use common package events and messages schemas
  packages/common/src/events/AuctionEvents.ts
  packages/common/src/events/LobbyEvents.ts
  packages/lobby-service/__tests__/API.test.ts
  packages/lobby-service/__tests__/KafkaConsumer.test.ts
  packages/lobby-service/__tests__/KafkaProducer.test.ts
  packages/lobby-service/src/controllers/KafkaConsumer.ts
  packages/lobby-service/src/controllers/KafkaProducer.ts
  packages/lobby-service/src/converters/EventConverter.ts
  packages/lobby-service/src/domain/events/EventFactory.ts
  packages/lobby-service/src/schemas/AuctionEvents.ts
  packages/lobby-service/src/schemas/LobbyEvents.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

refactor(auction-service): load auctions before start application
  packages/auction-service/src/App.ts
  packages/auction-service/src/controllers/KafkaConsumer.ts
  packages/auction-service/src/services/AuctionServiceImpl.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

refactor(integration-tests): use common package
  package-lock.json
  packages/common/package.json
  packages/integration-tests/__tests__/Client.ts
  packages/integration-tests/__tests__/Logger.ts
  packages/integration-tests/__tests__/MatchSimulation.test.ts
  packages/integration-tests/__tests__/RegisterFlow.test.ts
  packages/integration-tests/scripts/run-tests.sh
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs, prettier -w

refactor(user-service): better service logs
  .prettierignore
  packages/user-service/src/App.ts
  packages/user-service/src/controllers/UserController.ts
  packages/user-service/src/middlewares/ErrorsMiddleware.ts
  packages/user-service/src/server.ts
  packages/user-service/src/services/UserService.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

refactor(auction-service): better service logs
  packages/auction-service/src/adapters/WebSocketAdapter.ts
  packages/auction-service/src/controllers/AuctionController.ts
  packages/auction-service/src/controllers/KafkaConsumer.ts
  packages/auction-service/src/controllers/KafkaProducer.ts
  packages/auction-service/src/middlewares/AuthMiddleware.ts
  packages/auction-service/src/services/AuctionService.ts
  packages/auction-service/src/services/AuctionServiceImpl.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

refactor(auth-service): better service logs
  packages/auth-service/src/controllers/AuthController.ts
  packages/auth-service/src/repositories/AccountRepository.ts
  packages/auth-service/src/repositories/MongoAccountRepo.ts
  packages/auth-service/src/repositories/RedisTokenRepo.ts
  packages/auth-service/src/services/AuthService.ts
  packages/auth-service/src/services/AuthServiceImpl.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

refactor(user-service): better service logs
  packages/user-service/src/server.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

refactor(api-gateway): better service logs
  packages/api-gateway/src/controllers/HealthChecker.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix(auction-service): handle leaderboard ties
  packages/auction-service/__tests__/WinStrategy.test.ts
  packages/auction-service/src/domain/auctions/WinStrategyFactory.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

refactor(auction-service): extract auction game logic in AuctionImpl class
  packages/auction-service/__tests__/AuctionController.test.ts
  packages/auction-service/__tests__/AuctionService.test.ts
  packages/auction-service/__tests__/Integration.test.ts
  packages/auction-service/__tests__/KafkaConsumer.test.ts
  packages/auction-service/__tests__/RedisAuctionRepo.test.ts
  packages/auction-service/__tests__/TimerController.test.ts
  packages/auction-service/src/controllers/AuctionController.ts
  packages/auction-service/src/controllers/KafkaProducer.ts
  packages/auction-service/src/controllers/TimerController.ts
  packages/auction-service/src/converters/AuctionConverter.ts
  packages/auction-service/src/converters/EventConverter.ts
  packages/auction-service/src/domain/auctions/Auction.ts
  packages/auction-service/src/domain/auctions/AuctionFactory.ts
  packages/auction-service/src/domain/events/EventsFactory.ts
  packages/auction-service/src/domain/messages/MessageFactory.ts
  packages/auction-service/src/middlewares/AuthMiddleware.ts
  packages/auction-service/src/repositories/AuctionRepo.ts
  packages/auction-service/src/repositories/RedisAuctionRepo.ts
  packages/auction-service/src/schemas/Auction.ts
  packages/auction-service/src/services/AuctionEventsSource.ts
  packages/auction-service/src/services/AuctionService.ts
  packages/auction-service/src/services/AuctionServiceImpl.ts
  packages/auction-service/src/services/CallbacksService.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix(api-gateway): change cors configs
  packages/api-gateway/src/App.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix(auction-service): use AuctionInfo instead of Auction
  packages/auction-service/src/domain/auctions/WinStrategy.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(auth-service): return also user info when refreshing token
  packages/auth-service/__tests__/AuthController.test.ts
  packages/auth-service/__tests__/AuthService.test.ts
  packages/auth-service/src/controllers/AuthController.ts
  packages/auth-service/src/services/AuthServiceImpl.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

refactor(auth-service): change register response status code
  packages/auth-service/__tests__/Errors.test.ts
  packages/auth-service/src/middlewares/ErrorsMiddleware.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore(frontend): add zod and vee-validate dependencies
  package-lock.json
  packages/frontend/package.json
Due: prettier -w

chore(frontend): remove useless icons
  packages/frontend/src/components/icons/IconCommunity.vue
  packages/frontend/src/components/icons/IconDocumentation.vue
  packages/frontend/src/components/icons/IconEcosystem.vue
  packages/frontend/src/components/icons/IconSupport.vue
  packages/frontend/src/components/icons/IconTooling.vue
Due: none

feat(api-gateway): add rate limiter to login and register endpoints
  packages/api-gateway/src/App.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(api-gateway): better error handling when a service is not responding
  packages/api-gateway/src/controllers/ProxyController.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(frontend): add form validation and error handling
  packages/frontend/src/api/Errors.ts
  packages/frontend/src/api/authService.ts
  packages/frontend/src/components/FormEntry.vue
  packages/frontend/src/components/LoadingButton.vue
  packages/frontend/src/composables/useAlert.ts
  packages/frontend/src/composables/useAuth.ts
  packages/frontend/src/schemas/authSchema.ts
  packages/frontend/src/views/HomeView.vue
  packages/frontend/src/views/LoginView.vue
  packages/frontend/src/views/RegisterView.vue
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix(lobby-service): remove cors
  packages/lobby-service/src/App.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(frontend): add create and join lobby pages
  packages/frontend/src/api/Errors.ts
  packages/frontend/src/api/apiClient.ts
  packages/frontend/src/api/authService.ts
  packages/frontend/src/api/lobbyService.ts
  packages/frontend/src/components/FormEntry.vue
  packages/frontend/src/components/InventorySelector.vue
  packages/frontend/src/composables/useErrorsHandler.ts
  packages/frontend/src/router/index.ts
  packages/frontend/src/schemas/LobbySchema.ts
  packages/frontend/src/views/CreateLobbyView.vue
  packages/frontend/src/views/JoinView.vue
  packages/frontend/src/views/LoginView.vue
  packages/frontend/src/views/RegisterView.vue
  packages/lobby-service/src/middlewares/ErrorsMiddleware.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix(api-gateway): change ws auth protocol passing jwt as first message
  package-lock.json
  packages/api-gateway/package.json
  packages/api-gateway/src/App.ts
  packages/api-gateway/src/configs/Config.ts
  packages/api-gateway/src/middlewares/AuthMiddleware.ts
  packages/api-gateway/src/routes/Routes.ts
  packages/api-gateway/src/server.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs, prettier -w

fix(auction-service): change ws auth protocol passing jwt as first message
  packages/auction-service/__tests__/Integration.test.ts
  packages/auction-service/__tests__/WebSocket.test.ts
  packages/auction-service/src/App.ts
  packages/auction-service/src/adapters/WebSocketAdapter.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(lobby-service): add route to get the current joined lobby
  packages/lobby-service/__tests__/LobbyController.test.ts
  packages/lobby-service/__tests__/LobbyService.test.ts
  packages/lobby-service/src/controllers/LobbyController.ts
  packages/lobby-service/src/routes/LobbyRoutes.ts
  packages/lobby-service/src/services/LobbyService.ts
  packages/lobby-service/src/services/LobbyServiceImpl.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix(integration-tests): connect to auction sending the jwt as first message
  docker-compose.test.yml
  packages/integration-tests/__tests__/Client.ts
  packages/integration-tests/__tests__/MatchSimulation.test.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(api-gateway): use socket.io instead of pure websockets
  packages/api-gateway/package.json
  packages/api-gateway/src/WsApp.ts
  packages/api-gateway/src/configs/Config.ts
  packages/api-gateway/src/controllers/ProxyController.ts
  packages/api-gateway/src/middlewares/AuthMiddleware.ts
  packages/api-gateway/src/routes/Routes.ts
  packages/api-gateway/src/server.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs, prettier -w

feat(auction-service): make WebSocketAdapter use socket.io
  packages/auction-service/__tests__/AuctionController.test.ts
  packages/auction-service/__tests__/Integration.test.ts
  packages/auction-service/__tests__/WebSocket.test.ts
  packages/auction-service/package.json
  packages/auction-service/src/App.ts
  packages/auction-service/src/adapters/PlayerChannel.ts
  packages/auction-service/src/adapters/PlayerEventSource.ts
  packages/auction-service/src/adapters/WebSocketAdapter.ts
  packages/auction-service/src/configs/config.ts
  packages/auction-service/src/controllers/AuctionController.ts
  packages/auction-service/src/controllers/TimerController.ts
  packages/auction-service/src/schemas/TimeMessages.ts
  packages/auction-service/src/services/AuctionServiceImpl.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs, prettier -w

feat(common): add the typed message schema
  packages/common/src/messages/AuctionMessages.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

refactor(integration-tests): use socket.io to connect to the service
  docker-compose.test.yml
  package-lock.json
  package.json
  packages/integration-tests/__tests__/Client.ts
  packages/integration-tests/package.json
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs, prettier -w

fix(api-gateway): add timout when performing health check
  packages/api-gateway/src/controllers/HealthChecker.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix(api-gateway): add ws connection error log
  packages/api-gateway/src/controllers/ProxyController.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix(auction-service): change console log with logger
  packages/auction-service/src/App.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix(api-gateway): change socket io path auctions with auction
  packages/api-gateway/src/WsApp.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(auction-service): send player join message when user connects
  packages/auction-service/src/controllers/AuctionController.ts
  packages/auction-service/src/domain/messages/MessageFactory.ts
  packages/auction-service/src/services/AuctionEventsSource.ts
  packages/auction-service/src/services/AuctionServiceImpl.ts
  packages/auction-service/src/services/CallbacksService.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix(api-gateway): add frontend vite server to cors
  packages/api-gateway/src/App.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(auction-service): add creatorId to the auctionConfig
  packages/auction-service/__tests__/AuctionController.test.ts
  packages/auction-service/__tests__/AuctionService.test.ts
  packages/auction-service/__tests__/Integration.test.ts
  packages/auction-service/__tests__/KafkaConsumer.test.ts
  packages/auction-service/__tests__/RedisAuctionRepo.test.ts
  packages/auction-service/__tests__/TimerController.test.ts
  packages/auction-service/src/controllers/KafkaConsumer.ts
  packages/auction-service/src/domain/auctions/Auction.ts
  packages/auction-service/src/schemas/Auction.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(auction-service): send player join/connect message to every player in the lobby
  packages/auction-service/src/controllers/AuctionController.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs
