Repository MarcoFratta/AuctiOn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs, prettier -w

chore: make eslint ignore test files
  .lintstagedrc
Due: none

chore: make service return 401 instead of redirect when wrong auth
  packages/lobby-service/__tests__/API.test.ts
  packages/lobby-service/__tests__/Authentication.test.ts
  packages/lobby-service/src/middlewares/AuthMiddleware.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix(auth-service): fix axios error handling
  packages/auth-service/__tests__/API.test.ts
  packages/auth-service/__tests__/AuthService.test.ts
  packages/auth-service/__tests__/Errors.test.ts
  packages/auth-service/src/services/AuthServiceImpl.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix(lobby-service): better error handling
  packages/lobby-service/__tests__/API.test.ts
  packages/lobby-service/__tests__/Authentication.test.ts
  packages/lobby-service/__tests__/ControllerErrors.test.ts
  packages/lobby-service/__tests__/LobbyController.test.ts
  packages/lobby-service/src/controllers/LobbyController.ts
  packages/lobby-service/src/middlewares/AuthMiddleware.ts
  packages/lobby-service/src/middlewares/ErrorsMiddleware.ts
  packages/lobby-service/src/services/LobbyService.ts
  packages/lobby-service/src/services/LobbyServiceImpl.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix(auth-service): use logger instead of console log
  packages/auth-service/src/server.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix(lobby-service): use logger instead of console log
  packages/lobby-service/src/server.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore: make config file to load configs from .env if dev mode
  packages/auth-service/src/configs/config.ts
  packages/lobby-service/src/configs/config.ts
  packages/user-service/src/configs/config.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore: change pre-commit.js script
  .husky/pre-commit.js
Due: prettier -w

chore: use a single docker compose for all services
  docker-compose.yml
  package-lock.json
  packages/auth-service/docker-compose.yml
  packages/auth-service/package-lock.json
  packages/auth-service/package.json
  packages/lobby-service/Dockerfile
  packages/lobby-service/package-lock.json
  packages/lobby-service/package.json
  packages/user-service/Dockerfile
  packages/user-service/docker-compose.yml
  packages/user-service/package.json
Due: prettier -w

test(lobby-service): test if the lobby is deleted when the creator leaves
  packages/lobby-service/__tests__/API.test.ts
  packages/lobby-service/__tests__/LobbyController.test.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(lobby-service)!: change lobby service api
  packages/lobby-service/__tests__/API.test.ts
  packages/lobby-service/__tests__/ActiveLobbyMiddleware.test.ts
  packages/lobby-service/__tests__/LobbyController.test.ts
  packages/lobby-service/__tests__/LobbyService.test.ts
  packages/lobby-service/__tests__/LobbyServiceErrors.test.ts
  packages/lobby-service/__tests__/MongoRepo.test.ts
  packages/lobby-service/__tests__/UserLobbyRepo.test.ts
  packages/lobby-service/src/App.ts
  packages/lobby-service/src/controllers/LobbyController.ts
  packages/lobby-service/src/converters/Converter.ts
  packages/lobby-service/src/converters/LobbyConverters.ts
  packages/lobby-service/src/converters/UserLobbyConverter.ts
  packages/lobby-service/src/errors/LobbyErrors.ts
  packages/lobby-service/src/middlewares/ActiveLobbyMiddleware.ts
  packages/lobby-service/src/middlewares/AuthMiddleware.ts
  packages/lobby-service/src/models/UserLobbyModel.ts
  packages/lobby-service/src/repositories/LobbyRepository.ts
  packages/lobby-service/src/repositories/MongoLobbyRepo.ts
  packages/lobby-service/src/repositories/UserLobbyRepo.ts
  packages/lobby-service/src/routes/LobbyRoutes.ts
  packages/lobby-service/src/schemas/Lobby.ts
  packages/lobby-service/src/schemas/UserLobby.ts
  packages/lobby-service/src/services/LobbyServiceImpl.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore: change prettier configs
  .prettierrc
Due: none

fix(auth-service): better error handling
  packages/auth-service/__tests__/API.test.ts
  packages/auth-service/src/services/AuthServiceImpl.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

test(lobby-service): change error response messages
  packages/lobby-service/__tests__/API.test.ts
  packages/lobby-service/__tests__/ActiveLobbyMiddleware.test.ts
  packages/lobby-service/__tests__/Authentication.test.ts
  packages/lobby-service/__tests__/ControllerErrors.test.ts
  packages/lobby-service/__tests__/LobbyService.test.ts
  packages/lobby-service/__tests__/LobbyServiceErrors.test.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix(lobby-service): add Unauthenticated and Forbidden errors
  packages/lobby-service/src/errors/LobbyErrors.ts
  packages/lobby-service/src/middlewares/ErrorsMiddleware.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix(lobby-service): fix and refactor error handling
  packages/lobby-service/src/middlewares/ActiveLobbyMiddleware.ts
  packages/lobby-service/src/middlewares/AuthMiddleware.ts
  packages/lobby-service/src/routes/LobbyRoutes.ts
  packages/lobby-service/src/services/LobbyServiceImpl.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore: fix prettier and eslint conflict
  .prettierrc
  eslint.config.mjs
Due: none

chore: modify prettier ignore
  .prettierignore
Due: none

feat(lobby-service): removed the auth logic from the auth middleware
  packages/lobby-service/__tests__/Authentication.test.ts
  packages/lobby-service/src/App.ts
  packages/lobby-service/src/controllers/LobbyController.ts
  packages/lobby-service/src/middlewares/AuthMiddleware.ts
  packages/lobby-service/src/types/Index.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

refactor(lobby-service): removed code duplications
  packages/lobby-service/src/configs/config.ts
  packages/lobby-service/src/middlewares/ActiveLobbyMiddleware.ts
  packages/lobby-service/src/routes/LobbyRoutes.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

refactor(lobby-service): removed errors middlewares from the routes
  packages/lobby-service/src/routes/LobbyRoutes.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

test(lobby-service): change tests after the new auth middleware implementation
  packages/lobby-service/__tests__/API.test.ts
  packages/lobby-service/__tests__/ActiveLobbyMiddleware.test.ts
  packages/lobby-service/__tests__/LobbyController.test.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore(lobby-service): add cors dependency
  packages/lobby-service/package.json
Due: prettier -w

chore: change eslint, prettier and jest configs
  .prettierignore
  .prettierrc
  eslint.config.mjs
  jest.config.js
  package-lock.json
  package.json
Due: prettier -w

feat(api-gateway)!: add api-gateway service that handle all requests
  packages/api-gateway/Dockerfile
  packages/api-gateway/__tests__/Authentication.test.ts
  packages/api-gateway/docker-compose.yml
  packages/api-gateway/package-lock.json
  packages/api-gateway/package.json
  packages/api-gateway/src/App.ts
  packages/api-gateway/src/configs/Config.ts
  packages/api-gateway/src/configs/config.ts
  packages/api-gateway/src/controllers/ProxyController.ts
  packages/api-gateway/src/errors/LobbyErrors.ts
  packages/api-gateway/src/middlewares/AuthMiddleware.ts
  packages/api-gateway/src/middlewares/ErrorsMiddleware.ts
  packages/api-gateway/src/middlewares/LoggingMiddleware.ts
  packages/api-gateway/src/routes/Routes.ts
  packages/api-gateway/src/server.ts
  packages/api-gateway/src/types/index.ts
  packages/api-gateway/src/utils/Logger.ts
  packages/api-gateway/tsconfig.json
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs, prettier -w

chore(api-gateway): add api-gateway service to docker compose
  docker-compose.yml
Due: none

chore: better eslint configs
  eslint.config.mjs
Due: none

chore: expose only the api gateway service port
  docker-compose.yml
Due: none

chore(auth-service): package.json update
  packages/auth-service/package.json
Due: prettier -w

chore(user-service): add service name to package.json
  packages/user-service/package.json
Due: prettier -w

chore: add auto detect packages for scope check
  .husky/pre-commit.js
Due: prettier -w

feat(auction-service): add auction service
  package-lock.json
  package.json
  packages/auction-service/jest.config.js
  packages/auction-service/package.json
  packages/auction-service/tsconfig.json
Due: prettier -w

chore: add auction service as valid scope message
  commitlint.config.cjs
Due: none

fix(user-service): add config files that were deleted by mistake
  packages/user-service/jest.config.js
  packages/user-service/tsconfig.json
Due: prettier -w

feat(auction-service): add AuctionService first implementation
  packages/auction-service/__tests__/AuctionService.test.ts
  packages/auction-service/src/schemas/Auction.ts
  packages/auction-service/src/schemas/Bid.ts
  packages/auction-service/src/schemas/Player.ts
  packages/auction-service/src/schemas/Sale.ts
  packages/auction-service/src/services/AuctionService.ts
  packages/auction-service/src/services/AuctionServiceImpl.ts
  packages/auction-service/src/services/PlayOrderStrategy.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore: run service tests in parallel
  .husky/pre-commit.js
  package.json
Due: prettier -w

feat(auction-service): add edge cases handling
  packages/auction-service/__tests__/AuctionService.test.ts
  packages/auction-service/src/services/AuctionService.ts
  packages/auction-service/src/services/AuctionServiceImpl.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(auction-service): add logger
  packages/auction-service/src/utils/Logger.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore(auction-service): add winston logger dependency
  package-lock.json
  packages/auction-service/package.json
Due: prettier -w

feat(auction-service): change service api
  packages/auction-service/__tests__/AuctionService.test.ts
  packages/auction-service/src/schemas/Auction.ts
  packages/auction-service/src/schemas/Bid.ts
  packages/auction-service/src/services/AuctionService.ts
  packages/auction-service/src/services/AuctionServiceImpl.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

Path conditions:
  prettier --w: any of: **/*.{ts,tsx}
  eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs: any of: **/*.{ts,tsx}
  prettier -w: any of: **/*.{html,js,json,css,scss,md,mdx}
