Repository MarcoFratta/AuctiOn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs, prettier -w

feat(auth-service)!: add access and refresh tokens
  packages/auth-service/__tests__/API.test.ts
  packages/auth-service/__tests__/AuthController.test.ts
  packages/auth-service/__tests__/AuthRoutes.test.ts
  packages/auth-service/__tests__/AuthService.test.ts
  packages/auth-service/__tests__/AuthValidation.test.ts
  packages/auth-service/__tests__/Errors.test.ts
  packages/auth-service/src/App.ts
  packages/auth-service/src/configs/config.ts
  packages/auth-service/src/controllers/AuthController.ts
  packages/auth-service/src/domain/JWTTokenGenerator.ts
  packages/auth-service/src/domain/TokenGenerator.ts
  packages/auth-service/src/errors/AuthErrors.ts
  packages/auth-service/src/repositories/RedisTokenRepo.ts
  packages/auth-service/src/repositories/TokensRepo.ts
  packages/auth-service/src/routes/Routes.ts
  packages/auth-service/src/schemas/AuthSchema.ts
  packages/auth-service/src/server.ts
  packages/auth-service/src/services/AuthService.ts
  packages/auth-service/src/services/AuthServiceImpl.ts
  packages/auth-service/src/utils/JWT.ts
  packages/auth-service/src/utils/MongoDB.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix(api-gateway): fix wrong response code when token is not valid
  packages/api-gateway/src/middlewares/AuthMiddleware.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore(auth-service): add redis dependency
  package-lock.json
  packages/auth-service/package.json
Due: prettier -w

fix(lobby-service): update user status when match is over
  packages/lobby-service/src/services/LobbyServiceImpl.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(auth-service): add forgot and reset password endpoints
  packages/auth-service/__tests__/AuthController.test.ts
  packages/auth-service/__tests__/AuthRoutes.test.ts
  packages/auth-service/__tests__/AuthService.test.ts
  packages/auth-service/src/App.ts
  packages/auth-service/src/configs/config.ts
  packages/auth-service/src/controllers/AuthController.ts
  packages/auth-service/src/domain/JWTTokenGenerator.ts
  packages/auth-service/src/domain/TokenGenerator.ts
  packages/auth-service/src/middlewares/ErrorsMiddleware.ts
  packages/auth-service/src/repositories/RedisTokenRepo.ts
  packages/auth-service/src/repositories/TokensRepo.ts
  packages/auth-service/src/routes/Routes.ts
  packages/auth-service/src/schemas/AuthSchema.ts
  packages/auth-service/src/server.ts
  packages/auth-service/src/services/AuthService.ts
  packages/auth-service/src/services/AuthServiceImpl.ts
  packages/auth-service/src/utils/MongoDB.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(auth-service): add email functionalities for password reset with nodemailer
  docker-compose.yml
  package-lock.json
  packages/auth-service/package.json
  packages/auth-service/src/services/MailClient.ts
  packages/auth-service/src/services/MailClientImpl.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs, prettier -w

feat(auction-service): send error response when a player sends a bad request
  packages/auction-service/src/controllers/AuctionController.ts
  packages/auction-service/src/schemas/AuctionMessages.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix(auction-service): fix redis clean up after each test
  packages/auction-service/__tests__/Integration.test.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

refactor(lobby-service): change api endpoints from lobby to lobbies
  packages/lobby-service/__tests__/API.test.ts
  packages/lobby-service/src/App.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(auth-service): add swagger docs generator
  packages/auth-service/docs/Generator.ts
  packages/auth-service/docs/Index.ts
  packages/auth-service/package.json
  packages/auth-service/src/App.ts
  packages/auth-service/src/routes/Routes.ts
  packages/auth-service/src/schemas/AuthSchema.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs, prettier -w

feat(lobby-service): add swagger docs generator
  packages/lobby-service/Dockerfile
  packages/lobby-service/docs/Generator.ts
  packages/lobby-service/docs/Index.ts
  packages/lobby-service/package.json
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs, prettier -w

chore(user-service): remove docdev script
  packages/user-service/package.json
Due: prettier -w

chore(api-gateway): change lobby endpoint to lobbies
  packages/api-gateway/src/configs/Config.ts
  packages/api-gateway/src/routes/Routes.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(api-gateway): add health endpoint to check services status
  packages/api-gateway/__tests__/Authentication.test.ts
  packages/api-gateway/src/App.ts
  packages/api-gateway/src/configs/Config.ts
  packages/api-gateway/src/controllers/HealthChecker.ts
  packages/api-gateway/src/controllers/ProxyController.ts
  packages/api-gateway/src/middlewares/AuthMiddleware.ts
  packages/api-gateway/src/routes/Routes.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(auction-service): add deleted auction event handler
  packages/auction-service/src/controllers/AuctionController.ts
  packages/auction-service/src/controllers/KafkaConsumer.ts
  packages/auction-service/src/schemas/LobbyEvents.ts
  packages/auction-service/src/services/AuctionEventsSource.ts
  packages/auction-service/src/services/AuctionService.ts
  packages/auction-service/src/services/AuctionServiceImpl.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(auction-service): add health endpoint
  packages/auction-service/src/App.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(auth-service): add health endpoint
  packages/auth-service/src/App.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix(auth-service): check password schema during password reset
  packages/auth-service/__tests__/AuthRoutes.test.ts
  packages/auth-service/src/schemas/AuthSchema.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore(auth-service): code style refactor
  packages/auth-service/src/controllers/AuthController.ts
  packages/auth-service/src/middlewares/ErrorsMiddleware.ts
  packages/auth-service/src/services/MailClientImpl.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix(lobby-service): get kick user id from request params instead of body
  packages/lobby-service/__tests__/LobbyController.test.ts
  packages/lobby-service/src/controllers/LobbyController.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(lobby-service): add health endpoint
  packages/lobby-service/src/App.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(user-service): add health endpoint
  packages/user-service/src/App.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore: add redis service volume
  docker-compose.yml
Due: none

test: increase timout for long running tests
  packages/auction-service/__tests__/Integration.test.ts
  packages/auction-service/__tests__/KafkaConsumer.test.ts
  packages/auction-service/__tests__/KafkaProducer.test.ts
  packages/auth-service/__tests__/MongoRepo.test.ts
  packages/lobby-service/__tests__/API.test.ts
  packages/lobby-service/__tests__/KafkaConsumer.test.ts
  packages/lobby-service/__tests__/KafkaProducer.test.ts
  packages/lobby-service/__tests__/MongoRepo.test.ts
  packages/lobby-service/__tests__/UserLobbyRepo.test.ts
  packages/user-service/__tests__/mongodb/MongoRepoErrors.test.ts
  packages/user-service/__tests__/mongodb/MongoRepository.test.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(integration-tests): add integration tests package
  commitlint.config.cjs
  docker-compose.test.yml
  package-lock.json
  package.json
  packages/integration-tests/__tests__/Connection.ts
  packages/integration-tests/__tests__/Logger.ts
  packages/integration-tests/__tests__/MatchSimulation.test.ts
  packages/integration-tests/__tests__/RegisterFlow.test.ts
  packages/integration-tests/jest.config.js
  packages/integration-tests/package.json
  packages/integration-tests/scripts/run-tests.sh
  packages/integration-tests/tsconfig.json
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs, prettier -w

feat(common): add common shared package
  commitlint.config.cjs
  package.json
  packages/common/package.json
  packages/common/src/connections/MongoDB.ts
  packages/common/src/connections/RedisDB.ts
  packages/common/src/logger/Logger.ts
  packages/common/src/middlewares/ValidationMiddleware.ts
  packages/common/src/validation/ValidationMiddleware.ts
  packages/common/src/validation/Validator.ts
  packages/common/tsconfig.json
  packages/integration-tests/__tests__/Client.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs, prettier -w

feat(common): add zodWrapper
  packages/common/src/utils/ZodWrapper.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

refactor(user-service): make user service use common package
  package-lock.json
  packages/user-service/__tests__/UserValidation.test.ts
  packages/user-service/package.json
  packages/user-service/src/App.ts
  packages/user-service/src/configs/config.ts
  packages/user-service/src/controllers/UserController.ts
  packages/user-service/src/middlewares/ErrorsMiddleware.ts
  packages/user-service/src/middlewares/ValidationMiddleware.ts
  packages/user-service/src/schemas/User.ts
  packages/user-service/src/server.ts
  packages/user-service/src/services/UserService.ts
  packages/user-service/src/utils/Converters.ts
  packages/user-service/src/utils/Logger.ts
  packages/user-service/src/utils/MongoDB.ts
  packages/user-service/src/utils/Validator.ts
  packages/user-service/src/utils/ZodWrapper.ts
  packages/user-service/tsconfig.json
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs, prettier -w

feat(integration-tests): add match simulation test
  packages/integration-tests/__tests__/MatchSimulation.test.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore(user-service): fix build configuration
  package-lock.json
  package.json
  packages/common/package.json
  packages/user-service/Dockerfile
  packages/user-service/docs/Index.ts
  packages/user-service/package.json
  packages/user-service/tsconfig.json
  tsconfig.base.json
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs, prettier -w

refactor(lobby-service): make lobby service use common package
  package-lock.json
  packages/lobby-service/Dockerfile
  packages/lobby-service/__tests__/KafkaConsumer.test.ts
  packages/lobby-service/__tests__/LobbyService.test.ts
  packages/lobby-service/__tests__/LobbyValidation.test.ts
  packages/lobby-service/__tests__/MongoRepo.test.ts
  packages/lobby-service/docs/Index.ts
  packages/lobby-service/package.json
  packages/lobby-service/src/App.ts
  packages/lobby-service/src/configs/config.ts
  packages/lobby-service/src/controllers/KafkaConsumer.ts
  packages/lobby-service/src/controllers/KafkaProducer.ts
  packages/lobby-service/src/controllers/LobbyController.ts
  packages/lobby-service/src/converters/EventConverter.ts
  packages/lobby-service/src/converters/LobbyConverters.ts
  packages/lobby-service/src/converters/UserLobbyConverter.ts
  packages/lobby-service/src/middlewares/AuthMiddleware.ts
  packages/lobby-service/src/middlewares/ErrorsMiddleware.ts
  packages/lobby-service/src/middlewares/ValidationMiddleware.ts
  packages/lobby-service/src/repositories/MongoLobbyRepo.ts
  packages/lobby-service/src/routes/LobbyRoutes.ts
  packages/lobby-service/src/schemas/AuctionEvents.ts
  packages/lobby-service/src/schemas/Item.ts
  packages/lobby-service/src/schemas/Lobby.ts
  packages/lobby-service/src/schemas/LobbyEvents.ts
  packages/lobby-service/src/schemas/LobbyFactory.ts
  packages/lobby-service/src/schemas/User.ts
  packages/lobby-service/src/schemas/UserLobby.ts
  packages/lobby-service/src/server.ts
  packages/lobby-service/src/services/LobbyServiceImpl.ts
  packages/lobby-service/src/utils/Logger.ts
  packages/lobby-service/src/utils/MongoDB.ts
  packages/lobby-service/src/utils/Validator.ts
  packages/lobby-service/src/utils/ZodWrapper.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs, prettier -w

fix(user-service): use common package middleware
  packages/user-service/src/middlewares/ValidationMiddleware.ts
  packages/user-service/src/routes/UserRoutes.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

refactor(auth-service): use common package
  packages/auth-service/Dockerfile
  packages/auth-service/__tests__/API.test.ts
  packages/auth-service/__tests__/AuthValidation.test.ts
  packages/auth-service/__tests__/MongoRepo.test.ts
  packages/auth-service/docs/Index.ts
  packages/auth-service/package.json
  packages/auth-service/src/App.ts
  packages/auth-service/src/controllers/AuthController.ts
  packages/auth-service/src/middlewares/ErrorsMiddleware.ts
  packages/auth-service/src/middlewares/ValidationMiddleware.ts
  packages/auth-service/src/repositories/MongoAccountRepo.ts
  packages/auth-service/src/repositories/RedisTokenRepo.ts
  packages/auth-service/src/routes/Routes.ts
  packages/auth-service/src/schemas/AuthSchema.ts
  packages/auth-service/src/server.ts
  packages/auth-service/src/services/AuthServiceImpl.ts
  packages/auth-service/src/services/MailClientImpl.ts
  packages/auth-service/src/utils/Logger.ts
  packages/auth-service/src/utils/MongoDB.ts
  packages/auth-service/src/utils/Validator.ts
  packages/auth-service/src/utils/ZodWrapper.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs, prettier -w

refactor(auction-service): use common package
  packages/auction-service/Dockerfile
  packages/auction-service/__tests__/AuctionController.test.ts
  packages/auction-service/__tests__/Integration.test.ts
  packages/auction-service/__tests__/Validation.test.ts
  packages/auction-service/__tests__/WebSocket.test.ts
  packages/auction-service/package.json
  packages/auction-service/src/App.ts
  packages/auction-service/src/Server.ts
  packages/auction-service/src/adapters/WebSocketAdapter.ts
  packages/auction-service/src/controllers/AuctionController.ts
  packages/auction-service/src/controllers/KafkaConsumer.ts
  packages/auction-service/src/controllers/KafkaProducer.ts
  packages/auction-service/src/controllers/TimerController.ts
  packages/auction-service/src/converters/EventConverter.ts
  packages/auction-service/src/domain/auctions/AuctionFactory.ts
  packages/auction-service/src/domain/auctions/PlayOrderStrategy.ts
  packages/auction-service/src/domain/auctions/PlayerFactory.ts
  packages/auction-service/src/middlewares/AuthMiddleware.ts
  packages/auction-service/src/repositories/RedisAuctionRepo.ts
  packages/auction-service/src/schemas/Auction.ts
  packages/auction-service/src/schemas/AuctionEvents.ts
  packages/auction-service/src/schemas/AuctionMessages.ts
  packages/auction-service/src/schemas/Bid.ts
  packages/auction-service/src/schemas/LobbyEvents.ts
  packages/auction-service/src/schemas/Player.ts
  packages/auction-service/src/schemas/Sale.ts
  packages/auction-service/src/schemas/TimeMessages.ts
  packages/auction-service/src/schemas/User.ts
  packages/auction-service/src/services/AuctionServiceImpl.ts
  packages/auction-service/src/services/PlayOrderStrategy.ts
  packages/auction-service/src/utils/Logger.ts
  packages/auction-service/src/utils/Validator.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs, prettier -w

refactor(api-gateway): use common package
  packages/api-gateway/Dockerfile
  packages/api-gateway/package.json
  packages/api-gateway/src/controllers/HealthChecker.ts
  packages/api-gateway/src/controllers/ProxyController.ts
  packages/api-gateway/src/middlewares/AuthMiddleware.ts
  packages/api-gateway/src/middlewares/ErrorsMiddleware.ts
  packages/api-gateway/src/middlewares/LoggingMiddleware.ts
  packages/api-gateway/src/routes/Routes.ts
  packages/api-gateway/src/server.ts
  packages/api-gateway/src/utils/Logger.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs, prettier -w

feat(common): log errors while connecting
  packages/common/src/connections/RedisDB.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore(user-service): remove duplicated config
  packages/user-service/tsconfig.json
Due: prettier -w

chore: update docker-compose files
  docker-compose.test.yml
  docker-compose.yml
  package-lock.json
Due: prettier -w

feat(auction-service): add function to compute inventory weight
  packages/auction-service/src/converters/AuctionConverter.ts
  packages/auction-service/src/schemas/Item.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(auction-service): add leaderboard
  packages/auction-service/__tests__/Leaderboard.test.ts
  packages/auction-service/__tests__/WinStrategy.test.ts
  packages/auction-service/src/domain/auctions/Modifier.ts
  packages/auction-service/src/domain/auctions/WinStrategy.ts
  packages/auction-service/src/domain/auctions/WinStrategyFactory.ts
  packages/auction-service/src/schemas/Leaderboard.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

Path conditions:
  prettier --w: any of: **/*.{ts,tsx}
  eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs: any of: **/*.{ts,tsx}
  prettier -w: any of: **/*.{html,js,json,css,scss,md,mdx}
