Repository MarcoFratta/AuctiOn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --w --config ./packages/frontend/.prettierrc.json, eslint --max-warnings=0 --fix --no-warn-ignored --config ./packages/frontend/eslint.config.ts, prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs, prettier -w

.lintstagedrc:

{
  "./packages/frontend/**/*.{ts,tsx,vue}":[
   "prettier --w --config ./packages/frontend/.prettierrc.json",
   "eslint --max-warnings=0 --fix --no-warn-ignored --config ./packages/frontend/eslint.config.ts"
  ],
  "**/*.{ts,tsx}": [
  "prettier --w",
  "eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs"],
  "**/*.{html,js,json,css,scss,md,mdx}": ["prettier -w"]
}

refactor(lobby-service): remove unused port mappings from docker-compose.yml
  docker-compose.yml
Due: none

test(auth-service): send mail to custom host for better testing
  packages/auth-service/__tests__/AuthController.test.ts
  packages/auth-service/src/App.ts
  packages/auth-service/src/configs/config.ts
  packages/auth-service/src/controllers/AuthController.ts
  packages/auth-service/src/services/AuthServiceImpl.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

refactor(integration-tests): add support for set collections + better test code
  packages/integration-tests/__tests__/Client.ts
  packages/integration-tests/__tests__/MatchSimulation.test.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(integration-tests): add mailhog to test forgot/reset password
  docker-compose.test.yml
  packages/integration-tests/__tests__/RegisterFlow.test.ts
  packages/integration-tests/package.json
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs, prettier -w

feat: add initial GitLab CI configuration
  .gitlab-ci.yml
Due: none

chore: remove unused lerna.json
  lerna.json
Due: prettier -w

chore: update pre-commit.js
  .husky/pre-commit.js
Due: prettier -w

refactor(auction-service): better logs
  packages/auction-service/src/controllers/AuctionController.ts
  packages/auction-service/src/controllers/KafkaConsumer.ts
  packages/auction-service/src/controllers/TimerController.ts
  packages/auction-service/src/services/AuctionServiceImpl.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

refactor(auction-service): increase waiting time in test
  packages/auction-service/__tests__/Integration.test.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore: modify pipeline
  .gitlab-ci.yml
Due: none

chore: modify .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

chore(auction-service): test pipeline
  packages/auction-service/src/controllers/KafkaConsumer.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore(auction-service): test pipeline
  packages/auction-service/__tests__/WinStrategy.test.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore(auction-service): test pipeline
  packages/auction-service/__tests__/AuctionController.test.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore(auction-service): test pipeline
  packages/auction-service/__tests__/AuctionService.test.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore: update package.json
  package-lock.json
  package.json
Due: prettier -w

chore: update package.json
  package-lock.json
  packages/frontend/package.json
Due: prettier -w

chore: update package-lock.json
  package-lock.json
Due: prettier -w

chore(auction-service): update package.json
  package-lock.json
  packages/auction-service/package.json
Due: prettier -w

chore(auction-service): test pipeline
  packages/auction-service/__tests__/Leaderboard.test.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore: update package.json
  package.json
Due: prettier -w

chore(lobby-service): update code style
  packages/lobby-service/src/converters/Converter.ts
  packages/lobby-service/src/middlewares/AuthMiddleware.ts
  packages/lobby-service/src/models/UserLobbyModel.ts
  packages/lobby-service/src/repositories/LobbyRepository.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore(auth-service): update code style
  packages/auth-service/src/domain/JWTTokenGenerator.ts
  packages/auth-service/src/domain/TokenGenerator.ts
  packages/auth-service/src/models/MongoAccount.ts
  packages/auth-service/src/services/AuthServiceImpl.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore(user-service): update code style
  packages/user-service/src/errors/UserErrors.ts
  packages/user-service/src/models/MongoUser.ts
  packages/user-service/src/repositories/MongoUserRepo.ts
  packages/user-service/src/repositories/UserRepository.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore(common): update code style
  packages/common/src/middlewares/ValidationMiddleware.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore(api-gateway): update code style
  packages/api-gateway/src/controllers/HealthChecker.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore: optimize docker build
  docker-compose.yml
  package-lock.json
  package.json
  packages/api-gateway/Dockerfile
  packages/api-gateway/package.json
  packages/auction-service/Dockerfile
  packages/auction-service/package.json
  packages/auth-service/Dockerfile
  packages/frontend/Dockerfile
  packages/lobby-service/Dockerfile
  packages/lobby-service/package.json
  packages/user-service/Dockerfile
  packages/user-service/package.json
Due: prettier -w

chore(user-service): add non-null assertion and remove openapi examples
  packages/user-service/src/repositories/MongoUserRepo.ts
  packages/user-service/src/schemas/User.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs
