Repository MarcoFratta/AuctiOn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --w --config ./packages/frontend/.prettierrc.json, eslint --max-warnings=0 --fix --no-warn-ignored --config ./packages/frontend/eslint.config.ts, prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs, prettier -w

refactor(frontend): separate lobby and auction notifications handlers
  packages/frontend/src/composables/useAuctionNotifications.ts
  packages/frontend/src/composables/useLobbyNotifications.ts
Due: prettier --w --config ./packages/frontend/.prettierrc.json, eslint --max-warnings=0 --fix --no-warn-ignored --config ./packages/frontend/eslint.config.ts, prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore(frontend): update lobby connection URL based on environment
  packages/frontend/src/api/lobbyService.ts
Due: prettier --w --config ./packages/frontend/.prettierrc.json, eslint --max-warnings=0 --fix --no-warn-ignored --config ./packages/frontend/eslint.config.ts, prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore(frontend): add balance slider index.ts
  packages/frontend/src/components/ui/balance-slider/index.ts
Due: prettier --w --config ./packages/frontend/.prettierrc.json, eslint --max-warnings=0 --fix --no-warn-ignored --config ./packages/frontend/eslint.config.ts, prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix(lobby-service): return NotFound if the user tries to join an old completed lobby
  packages/lobby-service/src/services/LobbyServiceImpl.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore(frontend): update API base URL to use environment variable
  packages/frontend/src/api/apiClient.ts
Due: prettier --w --config ./packages/frontend/.prettierrc.json, eslint --max-warnings=0 --fix --no-warn-ignored --config ./packages/frontend/eslint.config.ts, prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

refactor(frontend): handle auth using a router middleware instead of App.vue
  packages/frontend/src/App.vue
  packages/frontend/src/router/index.ts
Due: prettier --w --config ./packages/frontend/.prettierrc.json, eslint --max-warnings=0 --fix --no-warn-ignored --config ./packages/frontend/eslint.config.ts, prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(common): add time sync message schema
  packages/common/src/messages/AuctionMessages.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(auction-service): handle user leaving the auction while in-progress
  packages/auction-service/__tests__/AuctionService.test.ts
  packages/auction-service/__tests__/Integration.test.ts
  packages/auction-service/src/domain/auctions/Auction.ts
  packages/auction-service/src/services/AuctionServiceImpl.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix(auth-service): fix bug that was resetting refresh token exp on each refresh
  packages/auth-service/src/controllers/AuthController.ts
  packages/auth-service/src/services/AuthService.ts
  packages/auth-service/src/services/AuthServiceImpl.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(lobby-service): allow users to leave auction even when the auction is in-progress
  packages/lobby-service/__tests__/UserLobbyRepo.test.ts
  packages/lobby-service/src/repositories/UserLobbyRepo.ts
  packages/lobby-service/src/services/LobbyServiceImpl.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(auction-service): handle time-sync requests from the clients
  packages/auction-service/src/adapters/WebSocketAdapter.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(api-gateway): handle socket.io emits with ack
  packages/api-gateway/src/controllers/ProxyController.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(frontend): add time synchronization with server
  packages/frontend/src/composables/useLobbyMsgHandler.ts
  packages/frontend/src/composables/useTimeSync.ts
  packages/frontend/src/stores/lobbyStore.ts
Due: prettier --w --config ./packages/frontend/.prettierrc.json, eslint --max-warnings=0 --fix --no-warn-ignored --config ./packages/frontend/eslint.config.ts, prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(frontend): allow users to kick/leave while auction is in-progress
  packages/frontend/src/components/auction/SellerQueue.vue
Due: prettier --w --config ./packages/frontend/.prettierrc.json, eslint --max-warnings=0 --fix --no-warn-ignored --config ./packages/frontend/eslint.config.ts

feat(frontend): implement auction disconnection alert
  packages/frontend/src/stores/resultsStore.ts
  packages/frontend/src/views/auction/PlayView.vue
Due: prettier --w --config ./packages/frontend/.prettierrc.json, eslint --max-warnings=0 --fix --no-warn-ignored --config ./packages/frontend/eslint.config.ts, prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(frontend): update auction remaining time in useAuctionTimer.ts
  packages/frontend/src/composables/useAuctionTimer.ts
Due: prettier --w --config ./packages/frontend/.prettierrc.json, eslint --max-warnings=0 --fix --no-warn-ignored --config ./packages/frontend/eslint.config.ts, prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore(frontend): remove unnecessary console logs
  packages/frontend/src/composables/useAuctionConnection.ts
  packages/frontend/src/composables/useLobbyService.ts
  packages/frontend/src/views/auth/LoginView.vue
  packages/frontend/src/views/auth/RegisterView.vue
  packages/frontend/src/views/home/HomeView.vue
  packages/frontend/src/views/lobby/CreateLobbyView.vue
  packages/frontend/src/views/lobby/JoinLobby.vue
Due: prettier --w --config ./packages/frontend/.prettierrc.json, eslint --max-warnings=0 --fix --no-warn-ignored --config ./packages/frontend/eslint.config.ts, prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(frontend): add auction ID management to history store
  packages/frontend/src/stores/historyStore.ts
Due: prettier --w --config ./packages/frontend/.prettierrc.json, eslint --max-warnings=0 --fix --no-warn-ignored --config ./packages/frontend/eslint.config.ts, prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore(frontend): remove unused slot definition in InventorySelector.vue
  packages/frontend/src/components/common/InventorySelector.vue
Due: prettier --w --config ./packages/frontend/.prettierrc.json, eslint --max-warnings=0 --fix --no-warn-ignored --config ./packages/frontend/eslint.config.ts

fix(frontend): close drawer after logout click
  packages/frontend/src/components/common/NavigationDrawer.vue
Due: prettier --w --config ./packages/frontend/.prettierrc.json, eslint --max-warnings=0 --fix --no-warn-ignored --config ./packages/frontend/eslint.config.ts

fix(frontend): invoke onOpen callbacks if the connection is already open
  packages/frontend/src/stores/socketStore.ts
Due: prettier --w --config ./packages/frontend/.prettierrc.json, eslint --max-warnings=0 --fix --no-warn-ignored --config ./packages/frontend/eslint.config.ts, prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix(frontend): remove timer-start notification from auction notifications
  packages/frontend/src/composables/useAuctionNotifications.ts
Due: prettier --w --config ./packages/frontend/.prettierrc.json, eslint --max-warnings=0 --fix --no-warn-ignored --config ./packages/frontend/eslint.config.ts, prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(frontend): set auctionId in the historyStore when receiving auction info
  packages/frontend/src/composables/useAuctionStats.ts
Due: prettier --w --config ./packages/frontend/.prettierrc.json, eslint --max-warnings=0 --fix --no-warn-ignored --config ./packages/frontend/eslint.config.ts, prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore(frontend): remove console logs
  packages/frontend/src/composables/useAuth.ts
Due: prettier --w --config ./packages/frontend/.prettierrc.json, eslint --max-warnings=0 --fix --no-warn-ignored --config ./packages/frontend/eslint.config.ts, prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix(frontend): fix item count calculation and adjust risk threshold
  packages/frontend/src/composables/useStatsCreator.ts
Due: prettier --w --config ./packages/frontend/.prettierrc.json, eslint --max-warnings=0 --fix --no-warn-ignored --config ./packages/frontend/eslint.config.ts, prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore(frontend): correct Connection header quotes in nginx configuration
  packages/frontend/nginx.conf
Due: none

chore(frontend): use different configs for prod and dev
  docker-compose.yml
  packages/frontend/src/api/apiClient.ts
  packages/frontend/src/api/lobbyService.ts
Due: prettier --w --config ./packages/frontend/.prettierrc.json, eslint --max-warnings=0 --fix --no-warn-ignored --config ./packages/frontend/eslint.config.ts, prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

refactor(auction-service): update items weights
  packages/auction-service/src/schemas/Item.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

refactor(api-gateway): allow localhost origin on dev mode
  packages/api-gateway/src/App.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(auction-service)!: add set collection modifier
  packages/auction-service/__tests__/Integration.test.ts
  packages/auction-service/__tests__/Modifier.test.ts
  packages/auction-service/src/domain/auctions/Auction.ts
  packages/auction-service/src/domain/auctions/Modifier.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore(frontend): remove useless VITE_NODE_ENV variable from frontend service
  docker-compose.yml
Due: none

chore(frontend): attach handlers in app setup
  packages/frontend/src/App.vue
  packages/frontend/src/composables/useAuctionConnection.ts
Due: prettier --w --config ./packages/frontend/.prettierrc.json, eslint --max-warnings=0 --fix --no-warn-ignored --config ./packages/frontend/eslint.config.ts, prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(frontend): add tooltip support for ValueBadge.vue + style refactor
  packages/frontend/src/components/common/ValueBadge.vue
Due: prettier --w --config ./packages/frontend/.prettierrc.json, eslint --max-warnings=0 --fix --no-warn-ignored --config ./packages/frontend/eslint.config.ts

refactor(frontend): better code organization
  packages/frontend/src/components/auction/AuctionStats.vue
  packages/frontend/src/components/auction/CurrentBidCard.vue
  packages/frontend/src/components/auction/CurrentSaleInfo.vue
  packages/frontend/src/components/auction/GameHeader.vue
  packages/frontend/src/components/auction/MobileBottomBar.vue
  packages/frontend/src/components/auction/SellerQueue.vue
  packages/frontend/src/composables/useInventoryUtils.ts
  packages/frontend/src/composables/useLobbyInfo.ts
  packages/frontend/src/views/auction/PlayView.vue
Due: prettier --w --config ./packages/frontend/.prettierrc.json, eslint --max-warnings=0 --fix --no-warn-ignored --config ./packages/frontend/eslint.config.ts, prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(frontend): add support for set collections
  packages/frontend/src/components/auction/InventoryItem.vue
  packages/frontend/src/components/auction/PlayerInventory.vue
  packages/frontend/src/stores/lobbyStore.ts
  packages/frontend/src/views/rules/GameRulesView.vue
Due: prettier --w --config ./packages/frontend/.prettierrc.json, eslint --max-warnings=0 --fix --no-warn-ignored --config ./packages/frontend/eslint.config.ts, prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(frontend): show lobby id in the lobbyView
  packages/frontend/src/components/lobby/ShareCard.vue
  packages/frontend/src/views/lobby/LobbyView.vue
Due: prettier --w --config ./packages/frontend/.prettierrc.json, eslint --max-warnings=0 --fix --no-warn-ignored --config ./packages/frontend/eslint.config.ts

style(frontend): adjust spacing in SaleInfoCompare.vue
  packages/frontend/src/components/auction/SaleInfoCompare.vue
Due: prettier --w --config ./packages/frontend/.prettierrc.json, eslint --max-warnings=0 --fix --no-warn-ignored --config ./packages/frontend/eslint.config.ts

refactor(frontend): remove console logs from useAuctionTimer.ts
  packages/frontend/src/composables/useAuctionTimer.ts
Due: prettier --w --config ./packages/frontend/.prettierrc.json, eslint --max-warnings=0 --fix --no-warn-ignored --config ./packages/frontend/eslint.config.ts, prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix(frontend): update local-deploy URL to use localhost
  packages/frontend/package.json
Due: prettier -w

refactor(frontend): optimize Dockerfile for better build process and dependency management
  packages/frontend/Dockerfile
Due: none

Path conditions:
  prettier --w --config ./packages/frontend/.prettierrc.json: any of: ./packages/frontend/**/*.{ts,tsx,vue}
  eslint --max-warnings=0 --fix --no-warn-ignored --config ./packages/frontend/eslint.config.ts: any of: ./packages/frontend/**/*.{ts,tsx,vue}
  prettier --w: any of: **/*.{ts,tsx}
  eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs: any of: **/*.{ts,tsx}
  prettier -w: any of: **/*.{html,js,json,css,scss,md,mdx}
