Repository MarcoFratta/AuctiOn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs, prettier -w

refactor(frontend): refactor home page
  packages/frontend/src/views/HomeView.vue
Due: none

refactor(frontend): refactor create lobby page
  packages/frontend/src/components/FormEntry.vue
  packages/frontend/src/components/InventorySelector.vue
  packages/frontend/src/components/auction/InventoryItem.vue
  packages/frontend/src/views/lobby/CreateLobbyView.vue
Due: none

refactor(frontend): refactor lobby page
  packages/frontend/src/components/CopyCard.vue
  packages/frontend/src/components/lobby/LobbyConfigs.vue
  packages/frontend/src/components/lobby/LobbyPlayers.vue
  packages/frontend/src/components/lobby/ShareCard.vue
  packages/frontend/src/views/lobby/LobbyView.vue
Due: none

fix(frontend): connect to lobby after joining a lobby
  packages/frontend/src/views/lobby/JoinLobby.vue
  packages/frontend/src/views/lobby/JoinView.vue
Due: none

feat(frontend): change app theme on user settings change
  packages/frontend/src/stores/settingsStore.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

refactor(frontend): refactor play view
  packages/frontend/src/components/auction/AuctionRules.vue
  packages/frontend/src/components/auction/CurrentBidCard.vue
  packages/frontend/src/components/auction/CurrentSaleInfo.vue
  packages/frontend/src/components/auction/GameHeader.vue
  packages/frontend/src/components/auction/NewSaleInfo.vue
  packages/frontend/src/components/auction/PlayerInventory.vue
  packages/frontend/src/components/auction/SaleCard.vue
  packages/frontend/src/components/auction/SellerQueue.vue
  packages/frontend/src/components/ui/AppIcons.vue
  packages/frontend/src/components/ui/GameShapes.vue
  packages/frontend/src/composables/useAuctionTimer.ts
  packages/frontend/src/views/auction/PlayView.vue
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

refactor(frontend): refactor app navigation drawer
  packages/frontend/src/components/NavigationDrawer.vue
Due: none

refactor(frontend): fix label definitions in navigation drawer
  packages/frontend/src/components/NavigationDrawer.vue
Due: none

feat(frontend): integrate lobby service check before auction connection
  packages/frontend/src/composables/useAuctionConnection.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(frontend): add component that show a link to another page
  packages/frontend/src/components/AuthLink.vue
Due: none

feat(frontend): add app logo
  packages/frontend/src/assets/app-logo.svg
Due: none

refactor(frontend): enable dark mode on main.css
  packages/frontend/src/assets/main.css
Due: prettier -w

refactor(frontend): better timeLeft getter
  packages/frontend/src/stores/lobbyStore.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix(frontend): add form submission validation and update v-model binding for items
  packages/frontend/src/views/lobby/CreateLobbyView.vue
Due: none

fix(frontend): fix type definitions in auction and auth connection files
  packages/frontend/src/composables/useAuctionConnection.ts
  packages/frontend/src/composables/useAuth.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

refactor(frontend): refactor notfound page
  packages/frontend/src/views/NotFoundView.vue
Due: none

chore(frontend): minor style fix
  packages/frontend/src/components/FormEntry.vue
  packages/frontend/src/components/InventorySelector.vue
  packages/frontend/src/views/lobby/CreateLobbyView.vue
Due: none

fix(frontend): update items binding in SaleCard component
  packages/frontend/src/components/auction/SaleCard.vue
Due: none

refactor(frontend): use BaseCard component in JoinView
  packages/frontend/src/views/lobby/JoinView.vue
Due: none

feat(frontend): make get started button redirect to join page
  packages/frontend/src/views/HomeView.vue
Due: none

feat(frontend): add loading component when waiting for lobby connection
  packages/frontend/src/components/lobby/LobbyLoading.vue
  packages/frontend/src/views/lobby/LobbyView.vue
Due: none

feat(frontend): use loading component and connect to lobby on page refresh
  packages/frontend/src/views/auction/PlayView.vue
Due: none

feat(frontend): change pages browser tab title and logo
  packages/frontend/index.html
Due: prettier -w

fix(frontend): fix gradient button border effect
  packages/frontend/src/components/ui/gradient-button/GradientButton.vue
Due: none

feat(frontend): refactor results page
  packages/frontend/src/components/inventory/InventoryDisplay.vue
  packages/frontend/src/components/leaderboard/LeaderboardDisplay.vue
  packages/frontend/src/components/leaderboard/LeaderboardEntry.vue
  packages/frontend/src/components/leaderboard/RemovedPlayerEntry.vue
  packages/frontend/src/components/user/UserAvatar.vue
  packages/frontend/src/router/routes/game.ts
  packages/frontend/src/schemas/LeaderboardSchema.ts
  packages/frontend/src/stores/lobbyStore.ts
  packages/frontend/src/stores/resultsStore.ts
  packages/frontend/src/views/AuctionEndView.vue
  packages/frontend/src/views/LeaderboardView.vue
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix(frontend): better spacing between text and title in the news section
  packages/frontend/src/views/rules/GameRulesView.vue
Due: none

fix(frontend): use useravatar component
  packages/frontend/src/components/settings/ProfileSection.vue
Due: none

fix(frontend): add 'xs' size option for game shapes
  packages/frontend/src/components/ui/GameShapes.vue
Due: none

fix(frontend): update lobby reference to use lobbyStore
  packages/frontend/src/views/lobby/LobbyView.vue
Due: none

feat(frontend): store leaderboard received by server
  packages/frontend/src/composables/useLobbyMsgHandler.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

refactor(frontend): change notifications style
  packages/frontend/src/composables/useNotifications.ts
  packages/frontend/src/main.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

refactor(frontend): better app header content handling
  packages/frontend/src/App.vue
  packages/frontend/src/components/DefaultAuthLinks.vue
  packages/frontend/src/stores/headerStore.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(frontend): add local deployment script and update dependencies
  package-lock.json
  packages/frontend/package.json
Due: prettier -w

feat(frontend): add Docker support with nginx configuration
  docker-compose.yml
  packages/frontend/Dockerfile
  packages/frontend/nginx.conf
Due: none

fix(frontend): fix bug in the register function
  packages/frontend/src/composables/useAuth.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix(frontend): handle not found error in auction connection
  packages/frontend/src/composables/useAuctionConnection.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(auth-service): add expire time to refresh token cookie handling
  packages/auth-service/src/controllers/AuthController.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

refactor(frontend): refactor UI components for better layout and responsiveness
  package-lock.json
  packages/frontend/package.json
  packages/frontend/src/components/auction/AuctionRules.vue
  packages/frontend/src/components/auction/CurrentBidCard.vue
  packages/frontend/src/components/auction/CurrentSaleInfo.vue
  packages/frontend/src/components/auction/GameHeader.vue
  packages/frontend/src/components/auction/InventoryItem.vue
  packages/frontend/src/components/auction/MobileBottomBar.vue
  packages/frontend/src/components/auction/PlayerInventory.vue
  packages/frontend/src/components/auction/SaleCard.vue
  packages/frontend/src/components/auction/SellerQueue.vue
  packages/frontend/src/components/common/AppHeader.vue
  packages/frontend/src/components/common/Background.vue
  packages/frontend/src/components/common/BaseCard.vue
  packages/frontend/src/components/common/FullScreen.vue
  packages/frontend/src/components/common/InnerCard.vue
  packages/frontend/src/components/common/InventoryItem.vue
  packages/frontend/src/components/common/InventorySelector.vue
  packages/frontend/src/components/common/NavigationDrawer.vue
  packages/frontend/src/components/common/QuantitySelector.vue
  packages/frontend/src/components/common/ScrollableContainer.vue
  packages/frontend/src/components/common/ValueBadge.vue
  packages/frontend/src/components/icons/AppIcons.vue
  packages/frontend/src/components/lobby/ShareCard.vue
  packages/frontend/src/components/settings/ProfileSection.vue
  packages/frontend/src/components/ui/blur-reveal/BlurReveal.vue
  packages/frontend/src/components/ui/vortex/Vortex.vue
  packages/frontend/src/views/account/AccountSettingsView.vue
  packages/frontend/src/views/auction/PlayView.vue
  packages/frontend/src/views/home/HomeView.vue
  packages/frontend/src/views/lobby/CreateLobbyView.vue
  packages/frontend/src/views/lobby/LobbyView.vue
  packages/frontend/src/views/results/LeaderboardView.vue
  packages/frontend/src/views/rules/GameRulesView.vue
Due: prettier -w

feat(frontend): modify SaleInfo component adding dynamic tabs with new info
  packages/frontend/src/components/auction/NewSaleInfo.vue
  packages/frontend/src/components/auction/SaleInfoCompare.vue
  packages/frontend/src/components/auction/SaleInfoPreview.vue
  packages/frontend/src/components/ui/balance-slider/BalanceSlider.vue
Due: none

Path conditions:
  prettier --w: any of: **/*.{ts,tsx}
  eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs: any of: **/*.{ts,tsx}
  prettier -w: any of: **/*.{html,js,json,css,scss,md,mdx}
