Repository MarcoFratta/AuctiOn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs, prettier -w

.lintstagedrc:

{
  "**/*.{ts,tsx}": [
  "prettier --w",
  "eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs"],
  "**/*.{html,js,json,css,scss,md,mdx}": ["prettier -w"]
}

fix(auction-service): set not-connected player status for restored auctions
  packages/auction-service/src/services/AuctionServiceImpl.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix(auction-service): avoid sending timer msg if the auction is not started
  packages/auction-service/src/controllers/TimerController.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix(lobby-service): avoid sending lobby details on get lobby endpoint
  packages/common/src/messages/AuctionMessages.ts
  packages/lobby-service/__tests__/LobbyController.test.ts
  packages/lobby-service/src/controllers/LobbyController.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix(frontend): redirect to the lobby page after creating it
  packages/frontend/src/views/CreateLobbyView.vue
Due: none

fix(frontend): redirect to the lobby page after joining it
  packages/frontend/src/views/JoinView.vue
Due: none

refactor(frontend): create the lobby configs component
  packages/frontend/src/components/lobby/LobbyConfigs.vue
Due: none

refactor(frontend): create component to show list of players
  packages/frontend/src/components/lobby/LobbyPlayers.vue
Due: none

feat(frontend): create component to share and copy lobby link
  packages/frontend/src/components/CopyCard.vue
  packages/frontend/src/components/lobby/ShareCard.vue
Due: none

feat(frontend): add the lobby view to show the active lobby info
  packages/frontend/src/stores/lobbyStore.ts
  packages/frontend/src/views/LobbyView.vue
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(frontend): improved the home page
  packages/frontend/src/views/HomeView.vue
Due: none

refactor(frontend): ui changes
  package-lock.json
  packages/frontend/package.json
  packages/frontend/src/App.vue
  packages/frontend/src/components/LoadingButton.vue
  packages/frontend/src/main.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs, prettier -w

feat(common): add creatorId to the auctionConfig
  packages/common/src/events/Auction.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix(auction-service): fix bug when connecting with socket.io
  packages/auction-service/src/adapters/WebSocketAdapter.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore(common): make the common package compatible for both cjs and esm
  package-lock.json
  packages/api-gateway/Dockerfile
  packages/auction-service/Dockerfile
  packages/auction-service/package.json
  packages/auth-service/Dockerfile
  packages/common/package.json
  packages/common/src/connections/MongoDB.ts
  packages/common/src/connections/RedisDB.ts
  packages/common/src/events/Auction.ts
  packages/common/src/events/AuctionEvents.ts
  packages/common/src/events/LobbyEvents.ts
  packages/common/src/messages/AuctionMessages.ts
  packages/common/src/middlewares/ValidationMiddleware.ts
  packages/common/src/validation/ValidationMiddleware.ts
  packages/common/tsconfig.cjs.json
  packages/common/tsconfig.esm.json
  packages/lobby-service/Dockerfile
  packages/user-service/Dockerfile
  tsconfig.base.json
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs, prettier -w

fix(auth-service): fix a wrong import
  packages/auth-service/src/controllers/AuthController.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore(frontend): add the common package dependency
  package-lock.json
  packages/frontend/package-lock.json
  packages/frontend/package.json
  packages/frontend/tsconfig.node.json
  packages/frontend/vite.config.mts
  packages/frontend/vitest.config.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs, prettier -w

chore(frontend): add compiler options to tsconfig
  packages/frontend/tsconfig.json
Due: prettier -w

fix(auction-service): fix a wrong import
  packages/auction-service/src/domain/messages/MessageFactory.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(lobby-service): add the username when emitting join event
  packages/lobby-service/__tests__/KafkaProducer.test.ts
  packages/lobby-service/__tests__/LobbyService.test.ts
  packages/lobby-service/src/controllers/KafkaProducer.ts
  packages/lobby-service/src/domain/events/EventFactory.ts
  packages/lobby-service/src/schemas/Lobby.ts
  packages/lobby-service/src/services/LobbyService.ts
  packages/lobby-service/src/services/LobbyServiceImpl.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore: fix prettier and eslint configs
  .prettierrc
  eslint.config.mjs
Due: none

feat(auction-service): handle user info with UserService
  packages/auction-service/__tests__/AuctionController.test.ts
  packages/auction-service/__tests__/KafkaConsumer.test.ts
  packages/auction-service/src/App.ts
  packages/auction-service/src/controllers/AuctionController.ts
  packages/auction-service/src/controllers/KafkaConsumer.ts
  packages/auction-service/src/domain/messages/MessageFactory.ts
  packages/auction-service/src/schemas/Player.ts
  packages/auction-service/src/services/UserService.ts
  packages/auction-service/src/services/UserServiceImpl.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(common): add player lobby info schema and player status event
  packages/common/src/events/Auction.ts
  packages/common/src/events/LobbyEvents.ts
  packages/common/src/messages/AuctionMessages.ts
  packages/common/src/validation/Validator.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(lobby-service): emit player info event when player status change
  packages/lobby-service/__tests__/API.test.ts
  packages/lobby-service/src/controllers/KafkaProducer.ts
  packages/lobby-service/src/domain/events/EventFactory.ts
  packages/lobby-service/src/services/LobbyEventsSource.ts
  packages/lobby-service/src/services/LobbyServiceImpl.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(auction-service): send player info msg
  packages/auction-service/__tests__/KafkaConsumer.test.ts
  packages/auction-service/src/controllers/AuctionController.ts
  packages/auction-service/src/controllers/KafkaConsumer.ts
  packages/auction-service/src/schemas/Player.ts
  packages/auction-service/src/services/UserService.ts
  packages/auction-service/src/services/UserServiceImpl.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore(lobby-service): add env variable in lobby-service
  docker-compose.test.yml
  docker-compose.yml
Due: none

fix(frontend): avoid auto refresh if the request is already /refresh
  packages/frontend/src/api/apiClient.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix(frontend): handle error when refreshing token
  packages/frontend/src/api/authService.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

refactor(frontend): create useLobbyService composable
  packages/frontend/src/api/lobbyService.ts
  packages/frontend/src/composables/useLobbyService.ts
  packages/frontend/src/views/CreateLobbyView.vue
  packages/frontend/src/views/HomeView.vue
  packages/frontend/src/views/JoinView.vue
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

refactor(frontend): redirect to homepage after registration
  packages/frontend/src/composables/useAuth.ts
  packages/frontend/src/views/RegisterView.vue
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

refactor(frontend): redirect to homepage after registration
  packages/frontend/src/composables/useErrorsHandler.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(auction-service): add playerInfo message
  packages/auction-service/src/domain/messages/MessageFactory.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix(frontend): fix typo
  packages/frontend/src/composables/useErrorsHandler.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

refactor(frontend): use Lobby and Player schema in the lobby store
  packages/frontend/src/stores/lobbyStore.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

refactor(frontend): create User type for the user store
  packages/frontend/src/stores/userStore.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(frontend): add web socket store
  packages/frontend/src/stores/socketStore.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(frontend): update lobby page
  packages/frontend/src/components/lobby/LobbyPlayers.vue
  packages/frontend/src/views/LobbyView.vue
Due: none

fix(auction-service): avoid sending all sale info to players
  packages/auction-service/__tests__/AuctionService.test.ts
  packages/auction-service/__tests__/Integration.test.ts
  packages/auction-service/src/controllers/AuctionController.ts
  packages/auction-service/src/domain/auctions/Auction.ts
  packages/auction-service/src/domain/messages/MessageFactory.ts
  packages/auction-service/src/schemas/Auction.ts
  packages/auction-service/src/services/AuctionEventsSource.ts
  packages/auction-service/src/services/AuctionServiceImpl.ts
  packages/auction-service/src/services/CallbacksService.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix(common): avoid sending all sale info to players
  packages/auction-service/src/schemas/Sale.ts
  packages/common/src/events/Auction.ts
  packages/common/src/messages/AuctionMessages.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(auction-service): skip players that cannot sell anything
  packages/auction-service/__tests__/AuctionService.test.ts
  packages/auction-service/src/domain/auctions/Auction.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(frontend): add seller queue component
  packages/frontend/src/components/__tests__/HelloWorld.spec.ts
  packages/frontend/src/components/auction/SellerQueue.vue
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs
