Repository MarcoFratta/AuctiOn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --w --config ./packages/frontend/.prettierrc.json, eslint --max-warnings=0 --fix --no-warn-ignored --config ./packages/frontend/eslint.config.ts, prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs, prettier -w

fix: update cookie options in AuthController for secure and sameSite settings
  packages/auth-service/src/controllers/AuthController.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

Notes added by 'git notes add'
  d46ec48e2b845d4c2e914b30b99a162d3b43f7c8
Due: none

Update README.md
  README.md
Due: prettier -w

fix: configure trust proxy in App.ts and update service URIs in docker-compose
  docker-compose.yml
  env.template
  packages/api-gateway/src/App.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

Notes added by 'git notes add'
  e405024deabc3c43a319c575d7678d93c4aaef94
Due: none

fix: remove public directory from .gitignore
  .gitignore
  packages/frontend/public/app-logo.svg
Due: none

Notes added by 'git notes add'
  cac28cf95c61052d02f7da6a5cedf8f392a5b503
Due: none

fix(frontend): update rules description in GameRulesView.vue
  packages/frontend/src/views/rules/GameRulesView.vue
Due: prettier --w --config ./packages/frontend/.prettierrc.json, eslint --max-warnings=0 --fix --no-warn-ignored --config ./packages/frontend/eslint.config.ts

Notes added by 'git notes add'
  f8f107e93cfea29d06374b6387d51bd3ebf0ac7d
Due: none

refactor(docs): update deployment instructions
  packages/docs/docs/report/deployment.md
Due: prettier -w

fix(frontend): update confirmation message and title in LobbyView.vue
  packages/frontend/src/views/lobby/LobbyView.vue
Due: prettier --w --config ./packages/frontend/.prettierrc.json, eslint --max-warnings=0 --fix --no-warn-ignored --config ./packages/frontend/eslint.config.ts

Notes added by 'git notes add'
  3c41e323e778eb1ff8a468473504e02f46e2fdb9
Due: none

fix: add APP_BASE_URL environment variable to docker-compose.yml
  docker-compose.yml
Due: none

Notes added by 'git notes add'
  781e2f6f7dc6df2b978ef6a8114598a5e751d39b
Due: none

fix(auction-service)!: fix return start time from parsed timer data in TimerRepo.ts
  packages/auction-service/src/repositories/TimerRepo.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix(frontend): refactor game rules page
  packages/frontend/src/views/rules/GameRulesView.vue
Due: prettier --w --config ./packages/frontend/.prettierrc.json, eslint --max-warnings=0 --fix --no-warn-ignored --config ./packages/frontend/eslint.config.ts

Notes added by 'git notes add'
  23ff410ccdaea18cf12ff00059dba041cf491d60
Due: none

refactor(docs): update screenshots
  packages/docs/docs/report/images/screenshots/bid.png
  packages/docs/docs/report/images/screenshots/create.png
  packages/docs/docs/report/images/screenshots/join.png
  packages/docs/docs/report/images/screenshots/kick.png
  packages/docs/docs/report/images/screenshots/lobby.png
  packages/docs/docs/report/images/screenshots/login.png
  packages/docs/docs/report/images/screenshots/ready.png
  packages/docs/docs/report/images/screenshots/register.png
  packages/docs/docs/report/images/screenshots/results.png
  packages/docs/docs/report/images/screenshots/sale.png
  packages/docs/docs/report/images/screenshots/start.png
Due: none

refactor(docs): add app icon in Vitepress doc page
  packages/docs/docs/.vitepress/public/app-logo.svg
  packages/docs/docs/.vitepress/theme/index.mts
Due: none

refactor(docs): add app icon in Vitepress doc page
  packages/docs/docs/.vitepress/config.mts
  packages/docs/docs/index.md
Due: prettier -w

feat(docs): add glossary in analysis.md for auction terminology
  packages/docs/docs/report/analysis.md
Due: prettier -w

Notes added by 'git notes add'
  546fe0518ca32ac1e2d5ddb148d313c6b2a33fa0
Due: none

chore: change frontend port from 5173 to 80 in the env.template
  env.template
Due: none

fix(docs): update docs
  packages/docs/docs/.vitepress/config.mts
  packages/docs/docs/report/design/behaviour/auction.md
  packages/docs/docs/report/design/behaviour/auth.md
  packages/docs/docs/report/design/behaviour/lobby.md
  packages/docs/docs/report/design/interaction.md
  packages/docs/docs/report/goal.md
  packages/docs/docs/report/implementation.md
  packages/docs/docs/report/self-assessment/coverage.md
  packages/docs/docs/report/self-assessment/tests.md
Due: prettier -w

feat(docs): add build script for VitePress without coverage
  .github/workflows/docs.yml
  packages/docs/package.json
Due: prettier -w

chore: add final_report.md
  final_report.md
Due: prettier -w

Notes added by 'git notes add'
  ddf318951328280d01ae03e8939a28bcb1477025
Due: none

refactor: update final_report.md
  final_report.md
Due: prettier -w

fix(docs): update link for self-assessment overview in config
  packages/docs/docs/.vitepress/config.mts
Due: none

Notes added by 'git notes add'
  aff0a0b65f9a302244a30d95838b7d1ac28a8e9e
Due: none

Path conditions:
  prettier --w --config ./packages/frontend/.prettierrc.json: any of: ./packages/frontend/**/*.{ts,tsx,vue}
  eslint --max-warnings=0 --fix --no-warn-ignored --config ./packages/frontend/eslint.config.ts: any of: ./packages/frontend/**/*.{ts,tsx,vue}
  prettier --w: any of: **/*.{ts,tsx}
  eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs: any of: **/*.{ts,tsx}
  prettier -w: any of: **/*.{html,js,json,css,scss,md,mdx}
