Repository MarcoFratta/AuctiOn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --w --config ./packages/frontend/.prettierrc.json, eslint --max-warnings=0 --fix --no-warn-ignored --config ./packages/frontend/eslint.config.ts, prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs, prettier -w

Revert "chore: update build-and-release.yml"
  .github/workflows/build-and-release-optimized.yml
  .github/workflows/build-and-release.yml
Due: none

Revert "chore: update build-and-release.yml"
  packages/api-gateway/tsconfig.json
  packages/auction-service/tsconfig.json
  packages/auth-service/tsconfig.json
  packages/common/package.json
  packages/common/tsconfig.json
  packages/lobby-service/tsconfig.json
  packages/user-service/tsconfig.json
  tsconfig.base.json
Due: prettier -w

Revert "chore: update build-and-release.yml"
  .github/workflows/build-and-release.yml
  package.json
  scripts/workspace-build.js
Due: prettier -w

Revert "chore: update build-and-release.yml"
  package-lock.json
  package.json
Due: prettier -w

Revert "chore: update build-and-release.yml"
  .github/workflows/build-and-release.yml
  scripts/ci-direct-build.js
Due: prettier -w

Revert "chore: update build-and-release.yml"
  .github/workflows/build-and-release.yml
  package.json
  scripts/ci-direct-build.js
Due: prettier -w

Revert "chore: update build-and-release.yml"
  .github/workflows/build-and-release.yml
  package.json
  scripts/ci-common-setup.js
Due: prettier -w

Revert "chore: update build-and-release.yml"
  .github/workflows/build-and-release.yml
  package.json
  scripts/simple-link.js
Due: prettier -w

Revert "chore: update build-and-release.yml"
  .github/workflows/build-and-release.yml
  package.json
  packages/api-gateway/tsconfig.json
  packages/auction-service/tsconfig.json
  packages/auth-service/tsconfig.json
  packages/lobby-service/tsconfig.json
  packages/user-service/tsconfig.json
  scripts/link-common.js
  scripts/prepare-ci-build.js
  tsconfig.json
Due: prettier -w

Revert "chore: update build-and-release.yml"
  .github/workflows/build-and-release.yml
  package.json
  scripts/link-common.js
Due: prettier -w

Revert "chore: update build-and-release.yml"
  .github/workflows/build-and-release.yml
Due: none

Revert "chore: update upload and download artifact actions to v4"
  .github/workflows/build-and-release.yml
Due: none

Revert "chore: delete release.yml"
  .github/workflows/build-and-release.yml
  package.json
Due: prettier -w

chore: update build script
  package.json
Due: prettier -w

chore: update packages names
  package-lock.json
  package.json
  packages/api-gateway/Dockerfile
  packages/api-gateway/package.json
  packages/auction-service/Dockerfile
  packages/auction-service/package.json
  packages/auth-service/Dockerfile
  packages/auth-service/package.json
  packages/docs/package.json
  packages/e2e-tests/package.json
  packages/frontend/Dockerfile
  packages/frontend/package.json
  packages/lobby-service/Dockerfile
  packages/lobby-service/package.json
  packages/user-service/Dockerfile
  packages/user-service/package.json
Due: prettier -w

fix: fix imports
  packages/auction-service/src/controllers/AuctionProducer.ts
  packages/auction-service/src/schemas/events/Events.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix: fix template name
  env.template
Due: none

fix: update frontend build command in Dockerfile
  packages/frontend/Dockerfile
Due: none

fix: improve dependency installation and build process in docs.yml
  .github/workflows/docs.yml
Due: none

fix: improve dependency installation and build process in docs.yml
  .github/workflows/docs.yml
  packages/docs/scripts/generateDocs.js
Due: prettier -w

chore: update docs.yml
  .github/workflows/docs.yml
Due: none

chore: simplify dockerfiles
  packages/api-gateway/Dockerfile
  packages/auction-service/Dockerfile
  packages/auth-service/Dockerfile
  packages/docs/docs/report/self-assessment/coverage.md
  packages/frontend/Dockerfile
  packages/frontend/cypress.config.ts
  packages/frontend/cypress/e2e/example.cy.ts
  packages/frontend/cypress/fixtures/example.json
  packages/frontend/cypress/support/commands.ts
  packages/frontend/cypress/support/e2e.ts
  packages/frontend/cypress/tsconfig.json
  packages/frontend/package.json
  packages/lobby-service/Dockerfile
  packages/user-service/Dockerfile
Due: prettier --w --config ./packages/frontend/.prettierrc.json, eslint --max-warnings=0 --fix --no-warn-ignored --config ./packages/frontend/eslint.config.ts, prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs, prettier -w

chore: add release workflow for automated package building and deployment
  .github/workflows/release.yml
Due: none

fix: correct path for packaging documentation in release workflow
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  81cb1555c15956b1bd4e8f728d6f99385c448671
Due: none

feat: improve CORS configuration for API Gateway
  packages/api-gateway/src/App.ts
  packages/api-gateway/src/configs/Config.ts
  packages/api-gateway/src/types/index.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

Notes added by 'git notes add'
  66b780ee8fb717efc37109729b98134de5e1fc5c
Due: none

fix: add nginx configuration to Dockerfile
  packages/frontend/Dockerfile
Due: none

Notes added by 'git notes add'
  04edf358abcda1404f448eb961403c38b67f1fde
Due: none

feat: update CORS configuration to use allowed origins from config
  docker-compose.test.yml
  docker-compose.yml
  env.template
  packages/api-gateway/src/WsApp.ts
  packages/auction-service/src/App.ts
  packages/auction-service/src/configs/config.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

Notes added by 'git notes add'
  5d5f2ed85a28bcdecd220cf3ee667df8318b9c00
Due: none

feat: enhance CORS configuration to support multiple allowed origins from environment variable
  docker-compose.yml
  env.template
  package-lock.json
  packages/auction-service/package.json
  packages/auction-service/src/App.ts
  packages/auction-service/src/configs/config.ts
  packages/auth-service/package.json
  packages/auth-service/src/App.ts
  packages/auth-service/src/configs/config.ts
  packages/lobby-service/package.json
  packages/lobby-service/src/App.ts
  packages/lobby-service/src/configs/config.ts
  packages/user-service/package.json
  packages/user-service/src/App.ts
  packages/user-service/src/configs/config.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs, prettier -w

Notes added by 'git notes add'
  39f702cf95901f2dcb6cafee09d3803328f02a7e
Due: none

fix: add kafka and redis networks to docker-compose configuration
  docker-compose.yml
Due: none

Notes added by 'git notes add'
  9b0332ef3bd86e85c5fa5fc3f4a15625fb3a6baf
Due: none

fix: fix eslint.config.ts
  packages/frontend/eslint.config.ts
Due: prettier --w --config ./packages/frontend/.prettierrc.json, eslint --max-warnings=0 --fix --no-warn-ignored --config ./packages/frontend/eslint.config.ts, prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix: update build command in Dockerfile to use ESM output
  packages/frontend/Dockerfile
Due: none

Notes added by 'git notes add'
  c7c777e776372b3d70047591dbf9857dea85b322
Due: none

Path conditions:
  prettier --w --config ./packages/frontend/.prettierrc.json: any of: ./packages/frontend/**/*.{ts,tsx,vue}
  eslint --max-warnings=0 --fix --no-warn-ignored --config ./packages/frontend/eslint.config.ts: any of: ./packages/frontend/**/*.{ts,tsx,vue}
  prettier --w: any of: **/*.{ts,tsx}
  eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs: any of: **/*.{ts,tsx}
  prettier -w: any of: **/*.{html,js,json,css,scss,md,mdx}
