Repository MarcoFratta/AuctiOn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs, prettier -w

chore: remove tests from prettier ignore
  .prettierignore
Due: none

chore(auction-service): add ws dependency
  package-lock.json
  packages/auction-service/package.json
Due: prettier -w

chore(auction-service): add ws first basic implementation and test
  packages/auction-service/__tests__/WebSocket.test.ts
  packages/auction-service/src/adapters/PlayerEventSource.ts
  packages/auction-service/src/adapters/WebSocketAdapter.ts
  packages/auction-service/src/controllers/WebSocketController.ts
  packages/auction-service/src/server.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore(auction-service): add jest mock extended dependency
  package-lock.json
  packages/auction-service/package.json
Due: prettier -w

feat(auction-service): add controller interaction with websocket adapter
  packages/auction-service/__tests__/AuctionController.test.ts
  packages/auction-service/__tests__/Validation.test.ts
  packages/auction-service/__tests__/WebSocket.test.ts
  packages/auction-service/src/adapters/PlayerChannel.ts
  packages/auction-service/src/adapters/PlayerEventSource.ts
  packages/auction-service/src/adapters/WebSocketAdapter.ts
  packages/auction-service/src/controllers/AuctionController.ts
  packages/auction-service/src/controllers/WebSocketController.ts
  packages/auction-service/src/schemas/AuctionMessages.ts
  packages/auction-service/src/schemas/Item.ts
  packages/auction-service/src/schemas/Player.ts
  packages/auction-service/src/services/AuctionService.ts
  packages/auction-service/src/services/AuctionServiceImpl.ts
  packages/auction-service/src/utils/Validator.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(auction-service): add logic to handle disconnected players
  packages/auction-service/__tests__/AuctionController.test.ts
  packages/auction-service/__tests__/AuctionService.test.ts
  packages/auction-service/src/controllers/AuctionController.ts
  packages/auction-service/src/schemas/AuctionMessages.ts
  packages/auction-service/src/services/AuctionService.ts
  packages/auction-service/src/services/AuctionServiceImpl.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore(auction-service): reduce tests time limit
  packages/auction-service/jest.config.js
Due: prettier -w

feat(auction-service): send message to the clients when the round or the auction ends
  packages/auction-service/__tests__/WebSocket.test.ts
  packages/auction-service/src/adapters/WebSocketAdapter.ts
  packages/auction-service/src/controllers/AuctionController.ts
  packages/auction-service/src/services/AuctionEvents.ts
  packages/auction-service/src/services/AuctionService.ts
  packages/auction-service/src/services/AuctionServiceImpl.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

test(auction-service): create auction simulations to test the system behaviour
  packages/auction-service/__tests__/Integration.test.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

refactor(auction-service): better code organization
  packages/auction-service/__tests__/AuctionController.test.ts
  packages/auction-service/__tests__/Integration.test.ts
  packages/auction-service/__tests__/Validation.test.ts
  packages/auction-service/src/adapters/PlayerChannel.ts
  packages/auction-service/src/adapters/WebSocketAdapter.ts
  packages/auction-service/src/controllers/AuctionController.ts
  packages/auction-service/src/converters/AuctionConverter.ts
  packages/auction-service/src/converters/Converter.ts
  packages/auction-service/src/schemas/AuctionMessages.ts
  packages/auction-service/src/schemas/Item.ts
  packages/auction-service/src/services/AuctionServiceImpl.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore(auction-service): add kafka dependency
  package-lock.json
  packages/auction-service/package.json
Due: prettier -w

feat(auction-service): add kafka controller and test
  packages/auction-service/__tests__/KafkaController.test.ts
  packages/auction-service/src/controllers/KafkaController.ts
  packages/auction-service/src/schemas/Events.ts
  packages/auction-service/src/services/AuctionEvents.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(auction-service): add auction service to docker compose and add the service to the api gateway
  docker-compose.yml
  package-lock.json
  packages/api-gateway/src/App.ts
  packages/api-gateway/src/configs/Config.ts
  packages/api-gateway/src/controllers/ProxyController.ts
  packages/api-gateway/src/routes/Routes.ts
  packages/api-gateway/src/services/AuthServiceClient.ts
  packages/auction-service/Dockerfile
  packages/auction-service/package.json
  packages/auction-service/src/Server.ts
  packages/auction-service/src/adapters/PlayerChannel.ts
  packages/auction-service/src/adapters/WebSocketAdapter.ts
  packages/auction-service/src/configs/config.ts
  packages/auction-service/src/controllers/AuctionController.ts
  packages/auction-service/src/controllers/KafkaController.ts
  packages/auction-service/src/server.ts
  packages/auction-service/src/services/AuctionEventsSource.ts
  packages/auction-service/src/services/AuctionService.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs, prettier -w

chore(auction-service): add test container dependency
  package-lock.json
  packages/auction-service/package.json
Due: prettier -w

test(auction-service): use testcontainer to test kafka controller
  packages/auction-service/__tests__/Integration.test.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

test(auction-service): fix websocket test
  packages/auction-service/__tests__/WebSocket.test.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(auction-service): avoid passing player info in the url when connecting to ws
  packages/auction-service/src/adapters/WebSocketAdapter.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(api-gateway): add user information in the request header, after auth
  packages/api-gateway/src/middlewares/AuthMiddleware.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(auction-service): add auth middleware to check if the request is authenticated
  packages/auction-service/src/errors/Errors.ts
  packages/auction-service/src/middlewares/AuthMiddleware.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore: add auction service test script
  package.json
Due: prettier -w

refactor(auction-service): make kafka listen to service events instead of ws messages
  packages/auction-service/src/controllers/KafkaController.ts
  packages/auction-service/src/converters/AuctionConverter.ts
  packages/auction-service/src/converters/EventConverter.ts
  packages/auction-service/src/schemas/Events.ts
  packages/auction-service/src/services/AuctionEventsSource.ts
  packages/auction-service/src/services/AuctionServiceImpl.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore: remove exposed ports on auction services
  docker-compose.yml
Due: none

feat(auction-service): add app and server objects
  packages/auction-service/src/App.ts
  packages/auction-service/src/Server.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(auction-service): change auction service api to create auctions
  packages/auction-service/__tests__/AuctionController.test.ts
  packages/auction-service/__tests__/AuctionService.test.ts
  packages/auction-service/__tests__/Integration.test.ts
  packages/auction-service/__tests__/KafkaController.test.ts
  packages/auction-service/__tests__/Validation.test.ts
  packages/auction-service/src/App.ts
  packages/auction-service/src/controllers/AuctionController.ts
  packages/auction-service/src/controllers/KafkaProducer.ts
  packages/auction-service/src/converters/AuctionConverter.ts
  packages/auction-service/src/converters/EventConverter.ts
  packages/auction-service/src/domain/auctions/AuctionFactory.ts
  packages/auction-service/src/schemas/Auction.ts
  packages/auction-service/src/schemas/AuctionEvents.ts
  packages/auction-service/src/schemas/AuctionMessages.ts
  packages/auction-service/src/schemas/Item.ts
  packages/auction-service/src/schemas/Player.ts
  packages/auction-service/src/services/AuctionService.ts
  packages/auction-service/src/services/AuctionServiceImpl.ts
  packages/auction-service/src/utils/Validator.ts
  packages/lobby-service/src/schemas/Lobby.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(auction-service): add kafka consumer
  packages/auction-service/src/controllers/KafkaConsumer.ts
  packages/auction-service/src/schemas/LobbyEvents.ts
  packages/auction-service/src/services/PlayerFactory.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(auction-service): add auction timer controller
  packages/auction-service/__tests__/TimerController.test.ts
  packages/auction-service/src/controllers/TimerController.ts
  packages/auction-service/src/domain/auctions/Timer.ts
  packages/auction-service/src/schemas/TimeMessages.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(auction-service): kafka consumer implementation and test
  packages/auction-service/__tests__/KafkaConsumer.test.ts
  packages/auction-service/src/controllers/KafkaConsumer.ts
  packages/auction-service/src/schemas/LobbyEvents.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(auction-service): send timer update when user join an active auction
  packages/auction-service/__tests__/Integration.test.ts
  packages/auction-service/__tests__/TimerController.test.ts
  packages/auction-service/src/App.ts
  packages/auction-service/src/controllers/AuctionController.ts
  packages/auction-service/src/controllers/TimerController.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(lobby-service): add others lobby configs
  packages/lobby-service/__tests__/API.test.ts
  packages/lobby-service/__tests__/LobbyController.test.ts
  packages/lobby-service/__tests__/LobbyService.test.ts
  packages/lobby-service/__tests__/LobbyServiceErrors.test.ts
  packages/lobby-service/__tests__/LobbyValidation.test.ts
  packages/lobby-service/__tests__/MongoRepo.test.ts
  packages/lobby-service/src/models/LobbyModel.ts
  packages/lobby-service/src/schemas/Item.ts
  packages/lobby-service/src/schemas/Lobby.ts
  packages/lobby-service/src/schemas/LobbyFactory.ts
  packages/lobby-service/src/services/LobbyEventsSource.ts
  packages/lobby-service/src/services/LobbyService.ts
  packages/lobby-service/src/services/LobbyServiceImpl.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(lobby-service): add kafka producer and consumer
  packages/lobby-service/__tests__/KafkaConsumer.test.ts
  packages/lobby-service/__tests__/KafkaProducer.test.ts
  packages/lobby-service/src/controllers/KafkaConsumer.ts
  packages/lobby-service/src/controllers/KafkaProducer.ts
  packages/lobby-service/src/converters/EventConverter.ts
  packages/lobby-service/src/schemas/AuctionEvents.ts
  packages/lobby-service/src/schemas/LobbyEvents.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(lobby-service): make auth middleware to check x-user header to retrieve user info
  packages/lobby-service/src/middlewares/AuthMiddleware.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

refactor(lobby-service): fix minor bug
  packages/lobby-service/__tests__/API.test.ts
  packages/lobby-service/src/controllers/LobbyController.ts
  packages/lobby-service/src/server.ts
  packages/lobby-service/src/services/LobbyServiceImpl.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(lobby-service): add kafka producer and consumer to the app
  packages/lobby-service/src/App.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

refactor(auth-service): use JWT Generator object with better code organization
  packages/auth-service/__tests__/AuthController.test.ts
  packages/auth-service/__tests__/AuthService.test.ts
  packages/auth-service/src/App.ts
  packages/auth-service/src/configs/config.ts
  packages/auth-service/src/domain/TokenGenerator.ts
  packages/auth-service/src/services/AuthServiceImpl.ts
  packages/auth-service/src/utils/JWT.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

fix(auction-service): fix kafka consumer wrong handling started events
  packages/auction-service/__tests__/KafkaConsumer.test.ts
  packages/auction-service/src/controllers/KafkaConsumer.ts
  packages/auction-service/src/schemas/LobbyEvents.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(auction-service): use schema validation for the request user information
  packages/auction-service/src/adapters/WebSocketAdapter.ts
  packages/auction-service/src/middlewares/AuthMiddleware.ts
  packages/auction-service/src/schemas/User.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

chore(lobby-service): add kafkajs and ts-pattern dependency
  package-lock.json
  packages/lobby-service/package.json
Due: prettier -w

feat(api-gateway): use custom auth middleware to handle ws connections
  packages/api-gateway/src/App.ts
  packages/api-gateway/src/controllers/ProxyController.ts
  packages/api-gateway/src/middlewares/AuthMiddleware.ts
  packages/api-gateway/src/routes/Routes.ts
  packages/api-gateway/src/server.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

feat(auction-service): add redis to store active auctions
  package-lock.json
  packages/auction-service/__tests__/AuctionController.test.ts
  packages/auction-service/__tests__/AuctionService.test.ts
  packages/auction-service/__tests__/Integration.test.ts
  packages/auction-service/__tests__/KafkaProducer.test.ts
  packages/auction-service/__tests__/RedisAuctionRepo.test.ts
  packages/auction-service/package.json
  packages/auction-service/src/App.ts
  packages/auction-service/src/Server.ts
  packages/auction-service/src/configs/config.ts
  packages/auction-service/src/controllers/AuctionController.ts
  packages/auction-service/src/controllers/KafkaProducer.ts
  packages/auction-service/src/converters/AuctionConverter.ts
  packages/auction-service/src/converters/EventConverter.ts
  packages/auction-service/src/repositories/AuctionRepo.ts
  packages/auction-service/src/repositories/RedisAuctionRepo.ts
  packages/auction-service/src/schemas/Auction.ts
  packages/auction-service/src/schemas/AuctionEvents.ts
  packages/auction-service/src/schemas/Bid.ts
  packages/auction-service/src/schemas/Sale.ts
  packages/auction-service/src/services/AuctionServiceImpl.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs, prettier -w

feat(lobby-service): add User already in lobby error handling
  packages/lobby-service/src/middlewares/ErrorsMiddleware.ts
Due: prettier --w, eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs

Path conditions:
  prettier --w: any of: **/*.{ts,tsx}
  eslint --max-warnings=0 --fix --no-warn-ignored --config eslint.config.mjs: any of: **/*.{ts,tsx}
  prettier -w: any of: **/*.{html,js,json,css,scss,md,mdx}
